.search-found {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	align-content: baseline;

	.search-found__item {
		padding-top: 2rem;
		width: 100%;

		padding-bottom: 2rem;

		&:first-of-type {
			border-bottom: 1px solid #e2e2e2;
		}
	}

	&__form {
		margin-top: 22px;
		width: 100%;
		// height: 46px;
		display: flex;
		margin-bottom: 1rem;

		input[type='text'] {
			flex-grow: 1;
			background-color: #ffffff;
			border: solid 1px #eeeeee;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.71;
			letter-spacing: normal;
			text-align: left;
			color: #262626;
			padding-left: 14px;
		}

		input[type='submit'].abuse-popup__submit {
			margin-left: 24px;
		}
	}

	.catalog__sale {
		margin-top: unset !important;
		margin-bottom: 8px;
		padding-right: 3px;
		height: 36px;
		align-items: flex-end;
		flex-grow: 1;

		.catalog__price {
			width: calc(100% - 112px);
			height: 100%;
			align-items: flex-end;
			padding-top: 2px;
			line-height: 1;
			padding-bottom: 10px;

			.price__absolute {
				position: absolute;
				left: 0;
				color: #999999;
				font-family: "Roboto Condensed";
				font-size: 13px;
				font-weight: 400;
				line-height: 1;
				text-decoration: unset;
				left: 0;
				top: unset !important;
				bottom: -2px;
				display: flex;

				&:before {
					content: "";
					width: calc(100% - 23px);
					position: absolute;
					height: 1px;
					background: #f70000;
					transform: rotate(-14deg);
					bottom: 6px;
					-webkit-transform: rotate(-14deg);
					-moz-transform: rotate(-14deg);
					-ms-transform: rotate(-14deg);
					-o-transform: rotate(-14deg);
				}

				.price__cheaper {
					border-radius: 11px;
					background: #ff6060;
					padding: 2px 8px;
					color: #ffffff;
					font-size: 12px;
					font-weight: 400;
					line-height: 1;
					text-transform: uppercase;
					position: absolute;
					left: calc(100% + 3px);
				}
			}

			.announcing {

				&__popup {
					width: 261px;
					border-radius: 3px;
					background: #ffffff;
					box-shadow: 0px 2px 38px rgba(82, 64, 64, 0.17);
					color: #333333;
					font-family: Arial, sans-serif;
					font-size: 12px;
					font-weight: 400;
					line-height: 18px;
					position: absolute;
					padding: 16px 24px;
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
					display: flex;
					flex-direction: column;
					transform: translateY(-50%);
					z-index: 120;
					display: none;
					left: -19px;
					top: unset;
					bottom: 0;
					white-space: normal;

					a {
						color: #ba1212;
						margin-top: 10px;
					}

					&:before {
						content: "";
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
						left: 50px;
						top: unset;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 16px 16px 0;
						border-color: white transparent transparent;
						position: absolute;
						bottom: -15px;
						-moz-transform: translateX(-50%);
						-ms-transform: translateX(-50%);
						-o-transform: translateX(-50%);
						box-shadow: 0 12px 38px rgba(82, 64, 64, .17);
					}
				}
			}

			&:hover {

				.announcing__popup {
					display: flex;
				}
			}
		}

		.special-offers__rub {
			line-height: 1;
		}

		&.price__dashed {
			position: relative;

			.catalog__price {
				color: #d82300;
				flex-wrap: wrap;
				// width: 50%;
				height: 100%;
				align-items: flex-start;
				position: relative;
			}


			.price__absolute {
				position: absolute;
				left: 0;
				color: #999999;
				font-family: "Roboto Condensed";
				font-size: 13px;
				font-weight: 400;
				line-height: 1;
				left: 0;
				top: unset;
				bottom: 0;
			}
		}


	}

	.search__info {
		color: #262626;
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
		text-align: left;
		width: 100%;
		margin-top: 24px;
		margin-bottom: 34px;
	}

	.js-news {
		width: 100%;
	}


	@media screen and (max-width: 767px) {


		.catalog__item {
			width: 100%;
			margin-right: 0;
			height: 100%;

			.special-offers__rub {
				line-height: 1;
			}

			// .catalog__price {
			// 	align-items: flex-start !important;
			// }
		}

		&__form {
			flex-direction: column;

			input[type='text'] {
				margin-bottom: 1rem;
				height: 40px;
			}

			input[type='submit'] {
				width: 100%;
				margin-left: 0 !important;
			}
		}
	}
}
