.comparison {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 100%;
	margin-bottom: 19px;
	padding-bottom: 30px;
	overflow: unset !important;

	@media screen and (max-width: 767px) {
		background: white;

		.fixed-header {
			max-width: 100%;
			height: unset;

			// display: none;
			.title {
				display: none;
			}

			.swiper-slide {
				flex: 1 0 auto !important;
				flex-direction: column;
				flex-wrap: nowrap;
				padding-left: 5px;

				.special-offers__sale {
					flex-direction: row;
					width: 100%;
				}

				.catalog__presence {
					display: none;
				}
			}

			.swiper-wrapper {
				width: 100%;
				height: 100%;
				margin-top: 20px;
				padding-bottom: 15px;
			}

			&__pic {
				display: none;
			}

			.swiper-container {
				max-width: 100%;
				margin-top: 30px;
				padding-right: 0 !important;
			}

			.fixed-header-next {
				top: 30px;
				right: 0;
				left: unset;
			}

			.fixed-header-prev {
				top: 30px;
				left: 0;
			}

			.swiper-pagination {
				top: 1px;
				left: 50%;
				z-index: 9999;
				justify-content: center;
				width: 80%;
				max-width: unset;
				height: 39px;
				padding-top: 8px;
				background: white;
				transform: translateX(-50%);

				* {
					margin: 0 16px !important;
				}
			}

			.fixed-header__text {
				width: 100%;
				margin-bottom: 10px;
				color: $base;
				font-size: 14px;
				font-family: Arial, sans-serif;
				line-height: 20px;
			}
		}

		.swiper-container-comparison .comparison__diagram,
		&__main .comparison__diagram {
			height: 350px;
			margin-bottom: 60px;
		}

		&__middle {}

		thead {
			position: absolute;
			display: flex;
			flex-direction: column;
			width: 100% !important;
			// z-index: 999;
			padding-top: 0;

			tr {
				position: relative;
				width: 100%;
				background: unset !important;

				&:first-child {
					display: flex;
					height: unset;
				}

				&:hover {
					background-color: unset !important;

					td {
						background-color: unset !important;
					}
				}

				&.characteristic__title {
					background-color: #f8f8f8 !important;

					td {
						display: flex;
						align-items: center !important;
						justify-content: center;
						width: unset;
						color: #2e2e2e;
						font-weight: 400;
						font-size: 14px;
						font-family: "Roboto Condensed";
						line-height: 24px;

						&:after {
							display: none;
						}
					}

					&:before {
						top: 10px;
						background-size: 18px !important;
					}
				}

				&.characteristic__row {

					// border-bottom: none;
					td {
						padding: 0 0 0px !important;
						font-weight: 700;
						font-size: 14px;
						font-family: Arial, sans-serif;
						line-height: 1.2;
						border: 0 !important;

						&:after {
							display: none;
						}
					}
				}
			}

			td {
				top: unset;
				align-items: flex-start !important;
				width: 100% !important;
				width: 100%;
				padding: 10px 0 0px 5px !important;
				color: #2e2e2e;
				font-weight: 500;
				// height: unset !important;
				font-size: 12px;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: normal;
				text-align: left;
				background: transparent;
				border: 0;

				.swiper__comparison_first.js-comparison-height {
					width: 100%;
					height: auto !important;
					padding-bottom: 60px;
				}
			}

			.comparison__inner {
				width: 100%;
				margin-bottom: 10px;
				padding: 15px 0;
			}

			.thead__comparison {

				// margin-bottom: 330px;
				td {
					padding: 0 !important;
				}
			}

			.diagram {
				z-index: 999999;
				padding-left: 0 !important;
				box-shadow: unset;

				&__title {
					margin-bottom: 21px;
					color: #212121;
					font-weight: 400;
					font-size: 22px;
					font-family: "Roboto Condensed";
					line-height: 26px;
					text-align: center;
				}

				.diagram__next,
				.diagram__prev,
				.diagram__maxvalue {
					display: none;
				}

				.diagram__items {
					flex-direction: column;
				}

				.diagram__sidebar {
					width: 100%;
					height: 46px;
					margin-bottom: 16px;
					padding: 0;
					overflow: hidden;

					&.active {
						position: relative;
						z-index: 999;
						overflow: visible;
						background: white;

						&:after {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 300px;
							background: white;
							content: "";
						}

						.diagram__tabs {
							z-index: 9999;
						}
					}
				}

				.diagram__tabs {
					flex-shrink: 0;
					align-items: baseline;
					justify-content: flex-start;
					height: unset;
					min-height: unset;
					padding: 9px 12px 12px;
					color: #2e2e2e;
					font-size: 14px;
					font-family: Arial, sans-serif;
					text-align: left;
					background-color: #ffffff;
					border: 1px solid #d6d6d6;
					border-radius: 2px;

					&.active {
						order: -1;
						background: url("https://icongr.am/entypo/triangle-down.svg") 98%/10px no-repeat;
					}
				}

				.diagram__slider {
					width: 100%;
					height: 100%;
					margin-left: 0;
					padding-left: 0;
					background-size: 100% 10%;

					&:before {
						display: none;
					}
				}

				.diagram__pic {
					width: 0;
					height: 0;
					opacity: 0;
				}

				.diagram__item {
					display: flex;
					padding-top: 25px;
				}

				.diagram__name {
					padding: 0 6px;
					color: $base;
					font-size: 14px;
					font-family: Arial, sans-serif;
					line-height: 20px;
					text-align: center;
				}

				.swiper-wrapper {
					padding-bottom: 30px;
				}
			}
		}

		.swiper-container {
			z-index: 9999;
			flex-direction: column;
			// margin-top: 333px;
			flex-wrap: nowrap;
			justify-content: center;
			width: 100% !important;
			padding: 0 !important;

			.characteristic__row {
				&.level {
					td {
						padding-top: 45px;
					}
				}

				&.level-2 {
					td {
						padding-top: 70px;
					}
				}
			}
		}

		.characteristic__row {
			position: relative;
			padding-top: 1px;

			// margin-top: 10px;
			&.level {
				min-height: 69px;
			}

			&.level-2 {
				min-height: 99px;
			}
		}

		.characteristic__title {
			height: 40px;

			td {
				padding: 0 !important;
			}
		}

		&__item {
			width: calc(100% + 2px);

			&.order {
				background: url("https://icongr.am/entypo/triangle-down.svg") white calc(100% - 4px) 11px/15px no-repeat;
			}
		}

		.swiper-block {
			flex: 1 0 calc(50% - 8px) !important;
			justify-content: flex-start !important;
			width: 50%;
			height: 100%;
			margin-right: 16px;
			padding-top: 28px;
			padding-left: 5px;
			color: #2e2e2e;
			font-weight: normal;
			font-size: 12px !important;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			text-align: left;
		}

		.swiper-pagination {
			right: unset;
			// top: 375px;
			bottom: unset;
			left: 50%;
			display: block;
			height: unset;
			color: #2e2e2e;
			font-weight: normal;
			font-size: 14px;
			font-style: normal;
			font-stretch: normal;
			line-height: 2;
			letter-spacing: normal;
			transform: translateX(-50%);
		}

		.swiper-pagination span:nth-child(2n) {
			margin: 0 0 0 16px;
		}

		.swiper-button-prev {
			top: 390px;
			left: 0;
		}

		.swiper-button-next {
			top: 390px;
			right: 0;
		}

		.special-offers__buy {
			display: flex;
			align-items: center;
			width: 100%;
			color: #ffffff;
			font-weight: 500;
			font-size: 12px;
			font-style: normal;
			font-stretch: normal;
			line-height: 2;
			letter-spacing: normal;
			text-align: left;
			background-image: none;
			@include button;

			&:before {
				margin-right: 3px;
				padding-right: 20px;
				background-repeat: no-repeat;
			}
		}

		.special-offers__sale {
			flex-direction: column;

			.special-offers__price {
				.announcing {
					&__popup {
						left: -10px;
						width: 147px;
						padding: 7px;
					}
				}
			}
		}

		.comparison .swiper__comparison {
			padding: 10px;
		}

		.characteristic__title {
			.swiper-block {
				position: absolute;
				display: flex;
				justify-content: center;
				width: 100%;
				padding-left: 0;
				background: transparent;
			}
		}

		.comparison__list {
			margin-top: 0;
			margin-bottom: 18px;

			// height: 50px;
			&.active {
				overflow: unset;
			}
		}

		.comparison__button {
			margin-bottom: 8px;
			padding-top: 0;
			padding-left: 0;

			.comparison-menu__title {
				margin-bottom: 19px;
			}

			.comparison__filter {
				margin-top: 13px;
			}
		}

		.products-line {
			position: relative;
			z-index: 999999;

			.swiper-slide {
				flex: 1 0 calc(50% - 8px) !important;
				height: unset;
				padding: 0;
			}
		}

		.thead__comparison {
			// min-height: unset !important;
		}

		.swiper__comparison {
			align-content: unset;
			width: 100%;
			min-height: unset !important;
			// height: 100%;
			max-height: 100%;
			padding: 23px 12px 12px;

			.special-offers__pic {
				width: 100%;
				max-height: 145px;

				picture {
					height: 100%;
				}

				// height: 100%;
			}

			.special-offers__text {
				height: unset;
				padding-top: 16px;
				padding-bottom: 9px;
				color: #333333;
				font-weight: 400;
				font-size: 14px;
				font-family: "Roboto Condensed";
				line-height: 20px;
			}

			.special-offers__price {
				flex-wrap: nowrap;
				width: 100%;
				margin-top: 0;
				margin-bottom: 10px;
				color: #333333;
				font-weight: 700;
				font-size: 16px;
				font-family: "Roboto Condensed";
				line-height: 24px;

				.special-offers__rub {
					color: #333333;
					font-weight: 700;
					font-size: 16px;
					font-family: "Roboto Condensed";
					line-height: 24px;
				}
			}
		}

		.modal__close {
			top: 8px;
			right: 8px;
		}

		.open-all {
			display: none;
		}

		.comparison__filter {
			margin-top: 0;
			padding-left: 30px;
			color: $base;
			font-size: 14px;
			font-family: Arial, sans-serif;
			background-position: 5px 0;
		}

		&__main tr.thead__comparison:before {
			display: none;
			// height: 239%;
			height: calc(200% + 40px);
		}

		.comparison-menu__title {
			margin-bottom: 19px;
			line-height: 1;
		}

		.comparison__link {
			display: flex;
			align-items: center;
			padding: 11px 12px;
			line-height: 1;
			text-decoration: none !important;
		}

		.comparison__text {
			margin-top: 0;
		}

		.comparison__select {
			padding-left: 31px;
			background: url(../images/mamka.png) 3px/16px no-repeat;

			&.active {
				background: url(../images/papka.png) 3px/16px no-repeat;
			}
		}
	}

	@media screen and (max-width: 320px) {
		thead tr.characteristic__title td {
			font-size: 13px;
		}
	}

	thead {
		display: flex;
		flex-direction: column;
		// tr {
		// 	// border-top: 1px solid black !important;
		// 	border-bottom: 1px solid black !important;
		// }
	}

	tbody {
		display: flex;
		flex-direction: column;
		// tr {
		// 	// border-top: 1px solid red !important;
		// 	border-bottom: 1px solid red !important;
		// }
	}

	img {
		object-fit: contain;
	}

	.special-offers__sale {
		flex-grow: unset;
		margin-top: 0;

		.special-offers__price {
			padding-bottom: 10px;
			color: #333333;
			font-weight: 700;
			font-size: 20px;
			font-family: "Roboto Condensed";
			line-height: 24px;

			.price__absolute {
				position: absolute;
				top: unset !important;
				bottom: -2px;
				left: 0;
				left: 0;
				display: flex;
				color: #999999;
				font-weight: 400;
				font-size: 13px;
				font-family: "Roboto Condensed";
				line-height: 1;
				text-decoration: unset;

				&:before {
					position: absolute;
					bottom: 6px;
					width: calc(100% - 23px);
					height: 1px;
					background: #f70000;
					-webkit-transform: rotate(-14deg);
					-moz-transform: rotate(-14deg);
					-ms-transform: rotate(-14deg);
					-o-transform: rotate(-14deg);
					transform: rotate(-14deg);
					content: "";
				}

				.price__cheaper {
					position: absolute;
					left: calc(100% + 3px);
					padding: 2px 8px;
					color: #ffffff;
					font-weight: 400;
					font-size: 12px;
					line-height: 1;
					text-transform: uppercase;
					background: #ff6060;
					border-radius: 11px;
				}
			}

			.announcing {
				&__popup {
					position: absolute;
					top: unset;
					bottom: 0;
					left: -19px;
					z-index: 120;
					display: flex;
					display: none;
					flex-direction: column;
					width: 261px;
					padding: 16px 24px;
					color: #333333;
					font-weight: 400;
					font-weight: 400;
					font-size: 12px;
					font-size: 14px;
					font-family: Arial, sans-serif;
					line-height: 18px;
					line-height: 20px;
					white-space: normal;
					background: #ffffff;
					border-radius: 3px;
					box-shadow: 0px 2px 38px rgba(82, 64, 64, .17);
					transform: translateY(-50%);

					a {
						margin-top: 10px;
						color: #ba1212;
					}

					&:before {
						position: absolute;
						top: unset;
						bottom: -15px;
						left: 50px;
						width: 0;
						height: 0;
						border-color: white transparent transparent;
						border-style: solid;
						border-width: 16px 16px 0;
						box-shadow: 0 12px 38px rgba(82, 64, 64, .17);
						-webkit-transform: translateX(-50%);
						-moz-transform: translateX(-50%);
						-ms-transform: translateX(-50%);
						-o-transform: translateX(-50%);
						transform: translateX(-50%);
						content: "";
					}
				}
			}

			&:hover {
				.announcing__popup {
					display: flex;
				}
			}
		}
	}

	.title {
		margin-bottom: 24px;
	}

	.swiper-pagination {
		top: 19px;
		right: 100px;

		span {
			margin: 0 16px 0 0;
		}
	}

	&__middle {
		position: relative;
		display: flex;
		width: 100%;
		max-width: 100%;
	}

	.tabs {
		display: flex;
		flex-wrap: wrap;
		width: 25%;
		min-width: 290px;
	}

	.swiper-container {
		display: flex;
		flex-wrap: wrap;
		width: 75%;
		padding: 10px 0 15px !important;

		td {
			color: #2e2e2e;
			font-weight: 500;
			font-size: 14px;
			font-family: Arial, sans-serif;
			// line-height: 30px;
		}

		// tr{
		// 	border-bottom: 1px solid red;
		// }
	}

	td {
		display: flex;
		align-items: center;
		height: 100%;
		color: #2e2e2e;
		font-weight: normal;
		font-size: 14px;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: normal;
		text-align: left;

		&:after {
			position: absolute;
			top: 0;
			right: -27px;
			bottom: 0;
			width: 27px;
			height: 102%;
			background: inherit;
			border: inherit;
			content: "";
		}
	}

	.swiper-wrapper {
		display: flex;
		box-sizing: border-box;
		height: auto;
	}

	.swiper-slide,
	.swiper-block {
		position: relative;
		display: flex;
		flex: 0 0 calc(33% - 18px);
		width: calc(33% - 18px);
		margin-right: 27px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 17px;
	}

	.products-line {
		.swiper-slide {
			align-items: baseline;
			height: auto;
			padding-left: 0;
		}

		.swiper__comparison_first {
			max-width: 300px;
			padding: 0;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 17px 16px;
	}

	&-menu__title {
		margin-bottom: 10px;
		color: #2e2e2e;
		font-weight: 400;
		font-size: 18px;
		font-family: "Roboto Condensed";
		line-height: 24px;
		letter-spacing: normal;
		text-align: left;
	}

	&__list {
		// height: 30px;
		// max-height: 50px;
		position: relative;
		display: flex;
		flex-direction: column;
		margin: 16px 0 0;
		padding: 0;
		// flex-wrap: wrap;
		list-style: none;
		background: white;
		// overflow: hidden;
		border: solid 1px #d6d6d6;
		border-bottom: 0;
		// background: white;
		border-radius: 2px;

		// background: url("https://icongr.am/entypo/triangle-down.svg") white calc(100% - 10px) 5px/15px no-repeat;
		&.triangle {
			background: url("https://icongr.am/entypo/triangle-down.svg") white calc(100% - 10px) 5px/15px no-repeat;
		}

		// max-height: 26px;
		&:hover {
			overflow: unset;

			.comparison__item {
				display: flex;
			}
		}

		&::after {
			width: calc(100% + 3px);
			height: 100%;
			height: available;
			height: fill-available;
			height: fill-available;
			margin: 0 -1.5px -1px;
			background: #f8f8f8;
			border-top: solid 1px #d6d6d6;
			content: "";
		}
	}

	&__item {
		z-index: 99;
		display: flex;
		display: none;
		flex: 1 0 auto;
		height: auto;
		margin: 0 -1px;
		background: white;
		border-right: solid 1px #d6d6d6;
		border-left: solid 1px #d6d6d6;

		&.active {
			order: -1;
			background: transparent;
		}

		&.order {
			display: flex;
			order: -1;
			background: transparent;
			border-top: 0;
			border-bottom: 0;
		}

		// &:hover{
		// 	background-color: hsla(0,0%,93%,.29);
		// }
		// &:not(.order) {
		// 	position: absolute;
		// }
	}

	&__link {
		position: relative;
		padding: 0px 14px;
		color: #2e2e2e;
		font-size: 14px;
		font-family: Arial, sans-serif;
		line-height: 25px;
		text-decoration: none !important;

		&.active {
			pointer-events: none;
		}
	}

	&__button {
		display: flex;
		flex-direction: column;
		padding: 17px 16px;

		a {
			display: flex;
			width: 100%;
			margin-bottom: 10px;
			padding-left: 24px;
			color: #2e2e2e;
			font-weight: normal;
			font-size: 14px;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			text-align: left;
		}

		.comparison__select {
			padding-top: 1px;
			padding-bottom: 1px;
			text-decoration: none !important;
			background: url("../images/mamka.png") 0 /15px no-repeat;
		}

		.comparison__select.active {
			background: url("../images/papka.png") 0 /15px no-repeat;
		}
	}

	.comparison__filter {
		display: block !important;
		margin-top: 16px;
		padding: 2px 16px 16px 45px;
		color: $base;
		background: url("../images/comparison-delete.svg") 21px 0px/12px no-repeat;

		&.active {
			pointer-events: none;
		}
	}

	.open-all {
		position: relative;
		display: flex;
		margin-top: auto;
		padding: 0;
		color: $base;
		font-size: 14px;
		font-family: Arial, sans-serif;
		line-height: 20px;

		&:before {
			content: "Открыть все параметры";
		}

		&:after {
			width: 20px;
			background: url("https://icongr.am/entypo/chevron-small-down.svg?color=394791") 50% 50%/20px no-repeat;
			content: "";
		}

		&.active {
			color: #666666;

			&:before {
				content: "Закрыть все параметры";
			}

			&:after {
				background: url("https://icongr.am/entypo/chevron-small-up.svg?color=666666") 50% 50%/20px no-repeat;
				content: "";
			}
		}
	}

	.characteristic {
		&__title {
			display: flex;
			width: 100%;
			height: 52px;
			// color: #333333;
			margin-bottom: 5px;
			// &.active {
			// 	background: rgba(238, 238, 238, 0.4);
			// }
			// cursor: pointer;
			margin-bottom: 14px;
			color: $base;
			font-weight: 400;
			font-size: 18px;
			font-family: "Roboto Condensed";
			line-height: 24px;
			letter-spacing: normal;
			text-align: left;
			// margin-top: 24px;
			text-transform: uppercase;
			// padding: 4px 27px;
			// background: red;
			transition: .2s;

			td {
				color: $base;
				font-weight: 400;
				font-size: 18px;
				font-family: "Roboto Condensed";
				line-height: 24px;
				white-space: nowrap;
				// background-color: #f8f8f8;
			}
		}

		&__row {
			display: flex;
			width: 100%;
			// cursor: pointer;
			// max-height: 0;
			min-height: 34px;
			// overflow: hidden;
			border: 0;

			// border-top: 1px solid black;
			// border-bottom: 1px solid #e8e8e8;
			&.active {
				display: flex !important;
				overflow: unset;

				td {
					border-bottom: 1px solid #e8e8e8;
				}
			}

			&.level {
				min-height: 69px;
			}

			&.level-2 {
				min-height: 99px;
			}
		}

		&__property {
			color: #2e2e2e;
			font-weight: normal;
			font-size: 14px;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
		}

		&__name {
			flex: 1 1 25%;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 17px;
			color: #2e2e2e;
			font-weight: normal;
			font-size: 14px;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.93;
			letter-spacing: normal;
			text-align: left;
		}
	}

	.modal__close {
		position: absolute;
		top: 20px;
		right: 15px;
		width: 12px;
		height: 16px;
		color: #b0b0b0;
		color: transparent;
		font-size: 20px;
		background: url("../images/comparison-delete-2.svg") no-repeat;
	}

	.swiper__comparison {
		display: flex;
		// flex-wrap: wrap;
		flex-direction: column;
		align-content: baseline;
		align-items: flex-start;
		width: 100%;
		max-width: 100%;
		height: 100%;
		min-height: 330px;
		padding: 20px;
		background: white;

		.catalog__presence {
			margin-top: 14px;
		}

		.special-offers__text {
			// height: 100px;
			display: flex;
			width: 100%;
			max-height: unset;
			margin-bottom: auto;
			padding: 0 0 20px;
			font-weight: 400;
			font-size: 18px;
			font-family: "Roboto Condensed";
			line-height: 26px;
		}

		.special-offers__pic {
			height: 200px;
			margin-bottom: 14px;
		}
	}

	.swiper-button-prev {
		position: absolute;
		top: 38px;
		right: 50px;
		left: unset;
		width: 34px;
		height: 34px;
		background: url("../images/special-offers_prev.svg") 0/34px no-repeat;

		&:hover {
			background: url("../images/swiper-button-color-prev.svg") 0/34px no-repeat;
		}
	}

	.swiper-button-next {
		top: 38px;
		right: 0px;
		width: 34px;
		height: 34px;
		background: url("../images/special-offers_next.svg") 0/34px no-repeat;

		&:hover {
			background: url("../images/swiper-button-color-next.svg") 0/34px no-repeat;
		}
	}

	.swiper-scrollbar {
		position: absolute;
		bottom: 0;
		display: flex;
		width: 100%;
		height: 10px !important;
		overflow: hidden;
		background-color: #e6e6e6;
		border-radius: 8.5px;
		opacity: 1 !important;

		&-drag {
			height: 10px;
			background-color: $base;
			border-radius: 8.5px;
		}
	}

	.comparison__text {
		margin-top: 17px;
		color: #2e2e2e;
		font-weight: normal;
		font-size: 12px;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: normal;
		text-align: left;
	}

	&__main {
		display: flex;
		flex-direction: column;
		width: 25%;
		padding: 10px 0 15px;

		tr {
			display: flex;
			flex-direction: column;
			width: 100%;

			// display: flex !important;
			td {
				width: 100%;

				// height: 100%;
				.swiper__comparison_first {
					display: flex;
					flex-direction: column;
					width: 100%;
					height: 100%;
				}
			}

			&.thead__comparison {
				position: relative;
				min-height: 330px;

				&:before {
					position: absolute;
					top: -11px;
					left: -300%;
					z-index: -1;
					width: 1000%;
					height: calc(100% + 14px);
					// background: rebeccapurple;
					background-color: #f8f8f8;
					content: "";
				}
			}

			&.characteristic__title,
			&.characteristic__row {
				z-index: 999;
				display: flex;

				td {
					position: relative;
					display: flex;
					align-items: center;
					height: 100%;
					padding: 10px 14px 10px 37px;
				}
			}

			&.characteristic__row {
				td {
					color: #2e2e2e;
					font-weight: 700;
					font-size: 14px;
					font-family: Arial, sans-serif;
					// line-height: 30px;
				}
			}

			&.characteristic__title {
				position: relative;

				// &:before {
				// 	content: '';
				// 	position: absolute;
				// 	width: 20px;
				// 	height: 20px;
				// 	top: 15px;
				// 	left: 10px;
				// 	z-index: 99;
				// 	background: url('https://icongr.am/entypo/chevron-small-down.svg?color=666666')#f8f8f8 50% 50%/27px no-repeat;
				// }
				&.active {
					td {}

					&:before {
						background: url("https://icongr.am/entypo/chevron-small-down.svg?color=394791")#f8f8f8 50% 50%/27px no-repeat;
						transform: rotate(180deg);
					}
				}
			}

			&.thead__comparison {
				td {
					align-items: flex-start;
				}
			}
		}

		// tr{
		// 	border-bottom: 1px solid black !important;
		// }
	}

	.swiper-container-comparison {
		.comparison__diagram {
			display: block !important;
			width: 100%;
			max-width: 100%;
			height: 510px;
			margin: 36px 0 26px;
		}
	}

	&__main {
		.comparison__diagram {
			display: flex !important;
			width: 100%;
			max-width: 100%;
			height: 510px;
			margin: 36px 0 26px;
			background-color: #ffffff;
		}

		.diagram {
			position: absolute;
			z-index: 99;
			display: flex;
			flex-direction: column;
			width: 1172px;
			max-width: 100%;
			height: inherit;
			max-height: 100%;
			padding: 30px;
			box-shadow: 0 2px 25px rgba(0, 0, 0, .14);

			* {
				transition: .2s;
			}

			&::after {
				display: none;
			}

			&__title {
				width: 100%;
				margin-bottom: 50px;
				color: #212121;
				font-weight: 400;
				font-size: 32px;
				font-family: "Roboto Condensed";
			}

			&__items {
				position: relative;
				display: flex;
				width: 100%;
				height: 100%;
			}

			&__sidebar {
				display: flex;
				flex-direction: column;
				flex-shrink: 0;
				width: 200px;
				padding-top: 13px;
			}

			&__tabs {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 46px;
				margin-bottom: 13px;
				padding: 4px 10%;
				color: $base;
				font-weight: 400;
				font-size: 14px;
				font-family: "Roboto Condensed";
				line-height: 18px;
				text-align: center;
				background-color: #f8f8f8;
				border: 1px solid #eeeeee;
				border-radius: 4px;
				cursor: pointer;

				&.active {
					color: #ffffff;
					background-color: $base;
					border: 0;
				}
			}

			&__slider {
				position: relative;
				display: flex;
				width: 100%;
				margin-left: 41px;
				padding-left: 25px;
				overflow: hidden;
				background: linear-gradient(#e9e9e9 1px, #fff 0);
				background-position: 100% 0px;
				background-size: 100% 59px;

				.swiper-slide {
					position: relative;
					flex-basis: unset;
					flex-direction: column;
					// height: calc(100% - 74px);
					height: 80%;
					margin-right: 0;
					padding: 0;

					&:first-child {}
				}

				.swiper-wrapper {
					height: 100%;
				}

				&:before {
					position: absolute;
					bottom: 75px;
					left: 0px;
					color: #d6d6d6;
					font-size: 12px;
					font-family: Arial, sans-serif;
					content: "0";
				}

				&:after {
					position: absolute;
					bottom: 0;
					left: -10%;
					width: 150%;
					height: 70px;
					background: white;
					content: "";
				}
			}

			&__next {
				top: 52px;
				right: 31px;
				width: 34px;
				height: 34px;
				background: url("../images/special-offers_next.svg") 0/34px no-repeat;

				&:hover {
					background: url("../images/swiper-button-color-next.svg") 0/34px no-repeat;
				}
			}

			&__prev {
				position: absolute;
				top: 52px;
				right: 78px;
				left: unset;
				width: 34px;
				height: 34px;
				background: url("../images/special-offers_prev.svg") 0/34px no-repeat;

				&:hover {
					background: url("../images/swiper-button-color-prev.svg") 0/34px no-repeat;
				}
			}

			&__item {
				position: absolute;
				bottom: -74px;
				display: none;
				width: inherit;
				height: 74px;
				// display: flex;
				padding: 14px 0 0;
				background: white;
			}

			&__pic {
				display: flex;
				display: none;
				flex-shrink: 0;
				justify-content: center;
				width: 0px;
				height: 0px;

				img {
					width: auto;
					height: 100%;
				}
			}

			&__name {
				width: 100%;
				padding: 0 12px;
				color: $base;
				font-size: 14px;
				font-family: Arial, sans-serif;
				line-height: 1;
			}

			.data {
				display: none;
			}

			.schedule {
				width: 100%;
				margin-top: auto;
				background-image: linear-gradient(to top, #f3a49e 0%, $base 100%);
			}

			.diagram__maxvalue {
				position: absolute;
				top: -15px;
				left: 243px;
				color: #d6d6d6;
				font-size: 12px;
				font-family: Arial, sans-serif;
			}

			&__text {
				padding: 10px 0 0 10px;
				color: #ffffff;
				font-weight: 400;
				font-size: 14px;
				font-family: "Roboto Condensed";
			}
		}
	}

	&.fixed {
		.fixed-header {
			top: 0;
		}
	}

	.fixed-header {
		position: fixed;
		top: -999px;
		// max-height: 200px;
		z-index: 9999999;
		display: flex;
		flex-wrap: nowrap;
		background: white;
		box-shadow: 0 2px 25px rgba(0, 0, 0, .14);

		&:before {
			position: absolute;
			left: -50%;
			width: 100%;
			height: 100%;
			background: inherit;
			box-shadow: inherit;
			content: "";
		}

		&:after {
			position: absolute;
			right: -50%;
			width: 100%;
			height: 100%;
			background: inherit;
			box-shadow: inherit;
			content: "";
		}

		.title {
			z-index: 99;
			flex-shrink: 0;
			width: 23%;
			height: 100%;
			padding: 5px 0;
			color: #2e2e2e;
			font-weight: 400;
			font-size: 18px;
			font-family: "Roboto Condensed";
			line-height: 24px;
		}

		.swiper-container {
			width: 77%;
			padding-right: 27px !important;
			background: white;
		}

		.swiper-wrapper {
			height: 100%;
		}

		.swiper-slide {
			display: flex;
			flex: 0 0 auto;
			flex-direction: column;
			flex-wrap: wrap;
			padding: 8px 8px 12px;
			padding-left: 100px;
			border: 1px solid #f1f1f1;

			// &:nth-child(1) {
			// }
			// &:nth-child(2) {
			// 	background: yellow;
			// }
			// &:nth-child(3) {
			// 	background: green;
			// }
			// &:nth-child(4) {
			// 	background: purple;
			// }
			// &:nth-child(5) {
			// 	background: blue;
			// }
			.special-offers {
				&__sale {
					display: flex;
					align-items: center;
					width: calc(100%);
					margin-bottom: 0;
				}

				&__price,
				&__rub {
					font-size: 14px;
					font-family: Arial, sans-serif;
					line-height: 20px;
				}

				&__rub {}

				&__buy {
					justify-content: center;
					width: 40px;
					height: 34px;
					margin: 0;
					padding: 0;
					color: transparent;
					font-weight: 400;
					font-size: 14px;
					font-family: Roboto Condensed;
					line-height: 1;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;
					background-color: $base;
					background-repeat: no-repeat;
					background-position: 50%;
					// background-image: url(/mockup/templates/main/build/css/../images/shopping-cart.svg);
					background-size: auto;
					border: none;
					border-radius: 3px;
					-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .16);
					box-shadow: 0 0 0 0 rgba(0, 0, 0, .16);
					cursor: pointer;
					-webkit-box-pack: center;
					-ms-flex-pack: center;

					&:before {
						width: 16px;
						height: 16px;
						margin-right: 0;
						background-image: url(../images/shopping-cart.png);
						background-size: 16px;
						content: "";
					}
				}
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			top: 61%;
			z-index: 99999 !important;
		}

		.swiper-button-next {
			left: 50px;
			z-index: 999;
		}

		.swiper-button-prev {
			left: 0px;
			z-index: 999;
		}

		.swiper-pagination {
			top: 60%;
			left: 100px;
			z-index: 9999;
			// height: 34px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			width: fit-content;
			max-width: 150px;
			height: fit-content;
			transform: translateY(-49%);

			.swiper-pagination-bullet-active {
				background: $base;
			}

			.swiper-pagination-bullet {
				margin: 0 16px 10px 0 !important;
			}
		}

		&__pic {
			position: absolute;
			top: 0;
			left: 4px;
			// -ms-flex-negative: 0;
			flex-shrink: 0;
			width: 86px;
			height: 100%;
			margin-right: 0;
			padding: 11px 4px;

			img {
				width: auto !important;
				height: auto !important;
				// height: -moz-available!important;
				// height: -webkit-fill-available!important;
				// height: fill-available!important
			}

			picture {
				height: 100%;
			}
		}

		&__text {
			flex-grow: 1;
			width: calc(100%);
			color: $base;
			font-size: 12px;
			font-family: Arial, sans-serif;
			line-height: 1;
			line-height: 20px;
		}
	}
}
