<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Liebherr</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">подключение</span>
		</div>
		<h1 class="title">
			Установка и подключение оборудования Smeg
		</h1>
		<div class="text-default new-banner">
			<img src="{{src}}service2.png" alt="" class="shipping-payment__pic">
			<div class="mobile-preview">
				<img src="{{src}}connect.svg" alt="">
				<div class="mobile-preview__text">
					Подключение техники <br>
					со специальным лейблом осуществляется бесплатно!
					<span>
						Предложение действует по Москве
						и в пределах МКАД
					</span>
				</div>
			</div>
			<p>
				Вся техника Liebherr устанавливается и подключается нашим партнерским сервисным центром. Корректная
				установка и правильный ввод в эксплуатацию крайне важны для долгого срока службы бытовой техники.
			</p>
			<p>
				Выезд специалистов возможен во все районы Москвы и Подмосковья.
			</p>
			<p>
				Заявки на подключение принимаются по телефону <a href="tel:+74951912618"
					class="shipping-payment__number">
					+7 (495) 191-26-18</a>
			</p>
			<h3>
				Стоимость услуг сервисного центра
			</h3>
			<table class="service-table" style="border-collapse: collapse;" cellspacing="1" cellpadding="1">
				<tbody>
					<tr>
						<td colspan="1" style="border-image: initial;"><b>Вид услуги</b></td>
						<td colspan="1" style="border-image: initial;"><b>Стоимость услуг сервисного&nbsp; центра
								<br>
							</b></td>
					</tr>
					<tr>
						<td colspan="2" style="border-image: initial;"><b>Подключение холодильников</b></td>
					</tr>
					<tr class="table_tr">
						<td class="table_td" style="border-image: initial;"> Отдельностоящий холодильник шириной до 60
							см
						</td>
						<td class="table_td" style="border-image: initial;">от 1900&nbsp;руб. </td>
					</tr>
					<tr class="table_tr">
						<td class="table_td" style="border-image: initial;"> Встраиваемый холодильник (без фасадов)</td>
						<td class="table_td" style="border-image: initial;">от 1900&nbsp;руб. </td>
					</tr>
					<tr class="table_tr">
						<td class="table_td" style="border-image: initial;"> Отдельностоящий холодильник Side-by-Side
						</td>
						<td class="table_td" style="border-image: initial;">от 3000&nbsp;руб. </td>
					</tr>
					<tr class="table_tr">
						<td class="table_td" style="border-image: initial;"> Встраиваемый холодильник Side-by-Side&nbsp;
						</td>
						<td class="table_td" style="border-image: initial;">от 5200&nbsp;руб. </td>
					</tr>
					<tr class="table_tr">
						<td class="table_td" style="border-image: initial;" colspan="2"><b>Стандартная установка
								отдельностоящей техники</b></td>
					</tr>
					<tr class="table_tr">
						<td class="table_td" style="border-image: initial;">Стиральная, сушильная или посудомоечная
							машина</td>
						<td class="table_td" style="border-image: initial;">от 1600 руб. </td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Сушильная машина (установка в колонну)</td>
						<td colspan="1" style="border-image: initial;">от 2000 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Электрический варочный центр</td>
						<td colspan="1" style="border-image: initial;">от 1600 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Газовый варочный центр</td>
						<td colspan="1" style="border-image: initial;">от 1900 руб.</td>
					</tr>
					<tr>
						<td colspan="2" style="border-image: initial;"><b>Стандартная установка встраиваемой техники</b>
						</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Духовой шкаф (электрический), микроволновая печь,
							подогреватель, вакууматор</td>
						<td colspan="1" style="border-image: initial;">от 1900 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Духовой шкаф (газовый)</td>
						<td colspan="1" style="border-image: initial;">от 2100 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Электрическая варочная панель</td>
						<td colspan="1" style="border-image: initial;">от 1900 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Газовая варочная панель</td>
						<td colspan="1" style="border-image: initial;">от 1900 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Варочная панель со встроенной вытяжкой</td>
						<td colspan="1" style="border-image: initial;">от 6500 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Посудомоечная или стиральная машина</td>
						<td colspan="1" style="border-image: initial;">от 1900 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Кофемашина</td>
						<td colspan="1" style="border-image: initial;">от 2800 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Шкаф шоковой заморозки</td>
						<td colspan="1" style="border-image: initial;">от 2600 руб.</td>
					</tr>
					<tr>
						<td colspan="2" style="border-image: initial;"><b>Установка сантехники</b></td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Накладная мойка</td>
						<td colspan="1" style="border-image: initial;">от 2700 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Мойка подстольного монтажа</td>
						<td colspan="1" style="border-image: initial;">от 5000 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Смеситель</td>
						<td colspan="1" style="border-image: initial;">от 1300 руб.</td>
					</tr>
					<tr>
						<td colspan="2" style="border-image: initial;"><b>Установка вытяжек</b></td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Вытяжка кассетная до 90 см</td>
						<td colspan="1" style="border-image: initial;">от 2500 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Вытяжка каминная (купольная, наклонная) до 60 см
						</td>
						<td colspan="1" style="border-image: initial;">от 3000 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Вытяжка каминная (купольная, наклонная) до 90 см
						</td>
						<td colspan="1" style="border-image: initial;">от 4000 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Вытяжка островного типа до 90 см</td>
						<td colspan="1" style="border-image: initial;">от 6000 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Вытяжка, встраиваемая в столешницу&nbsp;</td>
						<td colspan="1" style="border-image: initial;">от 4500 руб.
							<br>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="border-image: initial;"><b>Демонтаж приборов</b></td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Встраиваемая стиральная или посудомоечная машина
						</td>
						<td colspan="1" style="border-image: initial;">от 1000 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Отдельностоящая стиральная или посудомоечная
							машина</td>
						<td colspan="1" style="border-image: initial;">от 700 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Варочная панель, духовой шкаф, микроволновая
							печь,
							вакууматор, подогреватель, шкаф шоковой заморозки
							<br>
						</td>
						<td colspan="1" style="border-image: initial;">от 700 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Варочная панель со встроенной вытяжкой</td>
						<td colspan="1" style="border-image: initial;">от 1200 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Сушильная машина</td>
						<td colspan="1" style="border-image: initial;">от 700 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Кофемашина</td>
						<td colspan="1" style="border-image: initial;">от 700 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Встраиваемая машина</td>
						<td colspan="1" style="border-image: initial;">от 600 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Вытяжка (островная)</td>
						<td colspan="1" style="border-image: initial;">от 2500 руб.</td>
					</tr>
					<tr class="table_tr">
						<td class="table_td" style="border-image: initial;"> Вытяжка (встраиваемая, купольная,
							настенная)
						</td>
						<td class="table_td" style="border-image: initial;">от 700 руб. </td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Вытяжка (в столешницу)</td>
						<td colspan="1" style="border-image: initial;">от 900 руб.</td>
					</tr>
					<tr class="table_tr">
						<td class="table_td" style="border-image: initial;">Электрическая плита</td>
						<td class="table_td" style="border-image: initial;">от 700 руб. </td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Газовая плита на жесткой подводке</td>
						<td colspan="1" style="border-image: initial;">от 800 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Газовая плита на гибкой подводке</td>
						<td colspan="1" style="border-image: initial;">от 600 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Отдельностоящий холодильник</td>
						<td colspan="1" style="border-image: initial;">от 700 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Отдельностоящий холодильник Side-by-Side
							<br>
						</td>
						<td colspan="1" style="border-image: initial;">от 700 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Встраиваемый холодильник Side-by-Side</td>
						<td colspan="1" style="border-image: initial;">от 1000 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Накладная мойка</td>
						<td colspan="1" style="border-image: initial;">от 1100 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Смеситель</td>
						<td colspan="1" style="border-image: initial;">от 600 руб.</td>
					</tr>
					<tr>
						<td colspan="2" style="border-image: initial;"><b>Дополнительно</b></td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Навешивание фасада (стиральная машина,
							посудомоечная машина)</td>
						<td colspan="1" style="border-image: initial;">от 1000 руб.</td>
					</tr>
					<tr class="table_tr">
						<td class="table_td" style="border-image: initial;"> Вырез в столешнице под варочную панель</td>
						<td class="table_td" style="/* border-image: initial; */">от 1000 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Навес одного фасада (встраиваемый холодильник)
						</td>
						<td colspan="1" style="border-image: initial;">от 1000 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Перенавес двери (отдельностоящий холодильник)
						</td>
						<td colspan="1" style="border-image: initial;">от 1500 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Перенавес одной двери (встраиваемый холодильник)
						</td>
						<td colspan="1" style="border-image: initial;">от 750 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Перенавес двери (холодильник Side-by-Side)</td>
						<td colspan="1" style="border-image: initial;">от 3100 руб.&nbsp;</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Подключение к воде (холодильник Side-by-Side)
						</td>
						<td colspan="1" style="border-image: initial;">от 1500 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Вырез отверстия под мойку</td>
						<td colspan="1" style="border-image: initial;">от 1000 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Пробивка отверстия под смеситель</td>
						<td colspan="1" style="border-image: initial;">от 500 руб.</td>
					</tr>
					<tr>
						<td colspan="1" style="border-image: initial;">Установка сифона</td>
						<td colspan="1" style="border-image: initial;">от 650 руб.</td>
					</tr>
					<tr class="table_tr">
						<td class="table_td" style="border-image: initial;"> Выезд за МКАД (+ к стоимости заказа). </td>
						<td class="table_td" style="border-image: initial;"> 40 руб./км </td>
					</tr>
					<tr class="table_tr">
						<td class="table_td" style="border-image: initial;"> Выезд мастера
							<br>
						</td>
						<td class="table_td" style="border-image: initial;"> 500 руб. </td>
					</tr>
				</tbody>
			</table>
			<p>
				Подробную информацию о стоимости услуг сервисного центра вы можете уточнить у нашего консультанта по
				телефону<a href="tel:+74951912618" class="shipping-payment__number"> +7 (495) 191-26-18</a>
			</p>
			<strong>
				Гарантия на выполненные работы и установленный материал 2 года!
			</strong>
			<p>
				Размещения заявок на ремонт в сервисные центры по всей России —
				<a href="tel:8(800)100-34-55" class="shipping-payment__number">8 (800) 100-34-55</a>
			</p>
		</div>
	</div>
</div>
