.tags {
	display: flex;
	// margin-top: auto;
	margin-bottom: 21px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1176px;
	flex-direction: column;
	width: 100%;

	&__list {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
		list-style: none;
		width: 100%;
		align-items: center;

		&.active {
			.tags__item {
				display: block !important;
			}
		}
	}

	&__item {
		border: 1px solid #f1f1f1;
		margin-right: 4px;
		margin-bottom: 3px;
		padding: 5px 11px;


		a {
			color: #666;
			font-family: Arial, sans-serif;
			font-size: 14px;
			line-height: 28px;
			padding-bottom: 3px;
			text-decoration: none !important;

			&:hover {
				// border-bottom: 1px dashed transparent;
			}
		}

		// &:last-child {
		// 	margin-right: 0;
		// }

		&.last {
			border: none;
			margin-left: 10px;
			padding: 0;
			color: $base;
			background: url('/images/round-3.svg') no-repeat 100% 50%/15px;
			background-color: transparent !important;
			border: 0 !important;

			a {
				padding: 0 0 2px;
				margin-right: 16px;
				border-bottom: 1px dashed $base;
			}
		}

		&.active {
			border: solid 1px $base;
			background: #fff4f4;

			a {
				color: #666666;
				// font-family: Arial, sans-serif;
				// font-size: 14px;
				// font-weight: 700;
				// letter-spacing: 0.6px;
			}
		}

		&:hover {
			border: 1px solid #ffe3e3;
			// background-color: #F1F1F1;
			background-color: #ffe3e3;

			a {
				color: $base;
				// font-family: Arial, sans-serif;
				// font-size: 14px;
				// font-weight: 700;
				// letter-spacing: 0.6px;
			}
		}


		&.button {
			order: 2;
		}

		// &:nth-child(-n+8) {
		// 	display: block;
		// }
		&.show {
			display: flex;
		}

	}

	&__title {
		color: #212121;
		font-family: "Roboto Condensed";
		font-size: 30px;
		font-weight: 400;
		margin-bottom: 30px;
	}


	&__all {
		border-radius: 3px;
		border: 1px solid $base;
		color: $base;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		position: absolute;
		right: 0px;
		top: -7px;
		transform: translateY(0px);
		padding: 6px 12px;
		text-decoration: none !important;
	}

	.container {
		position: relative;
	}

	&.main-tags {
		margin-bottom: 61px;
		position: relative;

		// width: 1176px;
		// max-width: 100%;
		@media screen and (max-width: 1200px) and (min-width: 768px) {
			margin: 0 16px 48px;
			max-width: 100%;
			width: -webkit-fill-available;
			flex: 1 1 100%
		}
	}

	.text-default & {
		margin: 0 auto 0 0;
	}


	@media screen and (max-width: 767px) {
		display: block;
		overflow-x: auto;
		margin-bottom: 40px;
		margin-right: unset;
		margin-left: unset;

		position: relative;

		&.main-tags {
			display: block;
			overflow-x: unset;
			margin-bottom: 30px;
			padding-left: 16px;
		}

		&__container {
			display: block;
			overflow-x: auto;
		}

		&__list {
			max-width: 1176px;
			overflow-x: scroll;
			width: 1176px;
			width: max-content;
		}

		&__title {
			color: #212121;
			font-family: "Roboto Condensed";
			font-size: 5vw;
			font-weight: 400;
			margin-bottom: 15px;
		}

		&__all {
			display: none;
		}

		&__item {

			&.last,
			&.js-tags_data {
				border: none;
				display: flex;
				align-items: center;
				background-color: transparent;
				color: $base;

				a {
					border-bottom: 1px dashed $base;
					line-height: 1;
				}

				&:after {
					content: "";
					background: url("https://icongr.am/entypo/chevron-small-down.svg?color=bb0000&size=50");
					width: 12px;
					height: 12px;
					background-size: 22px;
					background-position: 50%;
					background-repeat: no-repeat;
					margin-left: 5px
				}
			}
		}
	}
}
