.favorite {

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;


		.load-more {
			margin-top: 0;
			border-radius: 3px;
			border: 1px solid #f1f1f1;
			color: $base;
			font-family: "Roboto Condensed";
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
			padding: 5px 45px;
			width: fit-content;
			margin-bottom: 11px;
		}

		.pagination {
			margin-bottom: 29px;
		}
	}

	&__items {


		.catalog__sale {
			margin-top: unset !important;
			margin-bottom: 8px;
			padding-right: 3px;
			height: 36px;
			align-items: flex-end;
			flex-grow: 1;

			.catalog__price {
				width: calc(100% - 112px);
				height: 100%;
				align-items: center;
				padding-top: 2px;
				line-height: 1;

				.price__absolute {
					position: absolute;
					left: 0;
					color: #999999;
					font-family: "Roboto Condensed";
					font-size: 13px;
					font-weight: 400;
					line-height: 1;
					text-decoration: unset;
					left: 0;
					top: unset !important;
					bottom: -2px;
					display: flex;

					&:before {
						content: "";
						width: calc(100% - 23px);
						position: absolute;
						height: 1px;
						background: #f70000;
						transform: rotate(-14deg);
						bottom: 6px;
						-webkit-transform: rotate(-14deg);
						-moz-transform: rotate(-14deg);
						-ms-transform: rotate(-14deg);
						-o-transform: rotate(-14deg);
					}

					.price__cheaper {
						border-radius: 11px;
						background: #ff6060;
						padding: 2px 8px;
						color: #ffffff;
						font-size: 12px;
						font-weight: 400;
						line-height: 1;
						text-transform: uppercase;
						position: absolute;
						left: calc(100% + 3px);
					}
				}

				.announcing {

					&__popup {
						width: 261px;
						border-radius: 3px;
						background: #ffffff;
						box-shadow: 0px 2px 38px rgba(82, 64, 64, 0.17);
						color: #333333;
						font-family: Arial, sans-serif;
						font-size: 12px;
						font-weight: 400;
						line-height: 18px;
						position: absolute;
						padding: 16px 24px;
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
						display: flex;
						flex-direction: column;
						transform: translateY(-50%);
						z-index: 120;
						display: none;
						left: -19px;
						top: unset;
						bottom: 0;
						white-space: normal;

						a {
							color: #ba1212;
							margin-top: 10px;
						}

						&:before {
							content: "";
							-webkit-transform: translateX(-50%);
							transform: translateX(-50%);
							left: 50px;
							top: unset;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 16px 16px 0;
							border-color: white transparent transparent;
							position: absolute;
							bottom: -15px;
							-moz-transform: translateX(-50%);
							-ms-transform: translateX(-50%);
							-o-transform: translateX(-50%);
							box-shadow: 0 12px 38px rgba(82, 64, 64, .17);
						}
					}
				}

				&:hover {

					.announcing__popup {
						display: flex;
					}
				}
			}

			.special-offers__rub {
				line-height: 1;
			}
		}

		.price__dashed {
			position: relative;

			.catalog__price {
				color: #d82300;
				flex-wrap: wrap;
				// width: 50%;
				height: 100%;
				align-items: flex-start;
				position: relative;
			}


			.price__absolute {
				position: absolute;
				left: 0;
				color: #999999;
				font-family: "Roboto Condensed";
				font-size: 13px;
				font-weight: 400;
				line-height: 1;
				text-decoration: unset;
				left: 0;
				top: unset;
				bottom: 0;
			}
		}

		.special-offers__buy {
			width: 112px;
			height: 34px;

			&:before {
				content: '';
				background-image: url(../images/shopping-cart.png);
				width: 12px;
				height: 12px;
				background-size: 12px;
				margin-right: 8px;
			}
		}

	}

	&__reset {
		color: $base;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		position: absolute;
		top: -48px;
		right: 5px;
		text-decoration: none !important;
	}




	@media screen and (max-width: 767px) {
		&__items {
			.catalog {
				&__items {
					margin-right: 0;
				}

				&__text {
					height: unset;
					min-height: unset;
					padding: 0 !important;
					line-height: 25px;
					margin-bottom: 28px;
					margin-top: 35px;
				}

				&__specification {
					padding-right: 15px;
					margin-bottom: 16px;
				}

				&__li {
					margin-top: 15px;
					grid-area: 2;
					margin-left: 0;
					margin-right: 17px;
				}

				&__item {
					width: 100%;
					margin: 0 0 16px;
					flex: 1 0 100%;
					padding: 32px 19px 21px;
					height: unset;
					max-width: 100%;

					.catalog__pic {
						height: 230px;
					}

					.announcing {
						top: 20px;
						left: 20px;
					}

					.catalog__feature {
						justify-content: space-between;
					}

					.catalog__bold {
						width: 86px;
						flex-shrink: 0;
					}

					.catalog__sale {
						margin-bottom: 8px;
						padding-right: 0px;
					}

					.special-offers__buy {
						width: 112px;
						height: 34px;
						border-radius: 3px;
						background-color: $base;
						color: #ffffff;
						background-image: none;
						display: flex;
						justify-content: center;
					}
				}


			}
		}

	}
}

.js-favorite_list {
	.catalog__sale {
		align-items: center;
		margin-bottom: 8px;
	}
}


.favorite__footer {
	max-width: 100%;
	width: 100%;


	@media screen and (max-width: 767px) {
		order: -4;


	}
}
