<div class="header__dropdown-menu" id="js-menu">
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">Крупная бытовая техника</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item" data-bg='images/варка.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Варочные панели</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/духовка.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Духовые шкафы</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/микроволновка.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Микроволновые печи</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/посудомойка.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Посудомоечные машины</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/side-by-side.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Холодильники</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/пароварка.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Пароварки</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/кофемашина.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Кофемашины</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/стиралка.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Стиральные машины</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/вытяжка-настенная.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Вытяжки</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/подогреватели-посуды.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html"> Подогреватели посуды</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/плиты.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Варочные центры</a>
				</li>

				<li class="dropdown-menu__item" data-bg='images/гриль.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Аксессуары</a>
				</li>

			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">МАЛАЯ БЫТОВАЯ ТЕХНИКА</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Отдельностоящие кофемашины</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Тостеры</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Чайники</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Миксеры</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Блендеры</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Соковыжималки</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">Сантехника</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Мойки</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Смесители</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">ПРОФЕССИОНАЛЬНАЯ ТЕХНИКА</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Печи</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Моющее оборудование</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Холодильное оборудование</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Системы водоподготовки</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Аксессуары</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu collection">
		<span class="dropdown-menu__title js-dropdown-menu__title" title="Коллекции">Коллекции</span>

		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/смесители.png" alt="" class="dropdown-menu__pic">

						</a>
					</div>

					<!-- /.dropdown-menu__image -->
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Dolce Stil Novo
						</a>
					</div>
				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/смесители-copy.png" alt="" class="dropdown-menu__pic">

						</a>
					</div>
					<!-- /.dropdown-menu__image -->
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Victoria
						</a>

					</div>

				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/смесители-copy-2.png" alt="" class="dropdown-menu__pic">

						</a>
					</div>
					<!-- /.dropdown-menu__image -->
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Piano Design
						</a>

					</div>

				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/смесители-copy-3.png" alt="" class="dropdown-menu__pic">

						</a>
					</div>
					<!-- /.dropdown-menu__image -->
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Cortina
						</a>

					</div>

				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/смесители-copy-4.png" alt="" class="dropdown-menu__pic">

						</a>
					</div>
					<!-- /.dropdown-menu__image -->
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Coloniale
						</a>

					</div>

				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/смесители-copy-5.png" alt="" class="dropdown-menu__pic">

						</a>
					</div>
					<!-- /.dropdown-menu__image -->
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Души

						</a>

					</div>

				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/смесители-copy-6.png" alt="" class="dropdown-menu__pic">

						</a>
					</div>
					<!-- /.dropdown-menu__image -->
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Newson
						</a>

					</div>

				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/смесители-copy-7.png" alt="" class="dropdown-menu__pic">

						</a>
					</div>
					<!-- /.dropdown-menu__image -->
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Linea
						</a>

					</div>

				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/смесители-copy-7.png" alt="" class="dropdown-menu__pic">

						</a>
					</div>
					<!-- /.dropdown-menu__image -->
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Classica
						</a>

					</div>

				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/смесители-copy-7.png" alt="" class="dropdown-menu__pic">

						</a>
					</div>
					<!-- /.dropdown-menu__image -->
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Стиль 50-х годов
						</a>
					</div>

				</li>
			</ul>
		</div>
	</nav>
</div>
