.header__dropdown-menu {
	display: flex;
	align-items: center;
	// margin-left: 5%;
	// margin-top: auto;
	// margin-bottom: auto;
	flex-grow: 1;
	justify-content: space-between;
	// padding-left: 11px;


	.container {
		display: flex;
	}

	.dropdown-menu {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 4px;

		&__list {
			margin: 0;
			padding: 16px 0 0 0;
			list-style-type: none;
			display: none;
			flex-direction: column;
			background-color: #ffffff;
			margin-top: 0px;
			max-height: calc(100vh - 95px);
		}

		&:not(.collection) {


			.dropdown-menu__title {
				display: flex;
				align-items: center;

				// &:before {
				// 	width: 14px;
				// 	height: 12px;
				// 	flex-shrink: 0;
				// 	content: '';
				// 	background: url('../images/neff-menuPic.svg');
				// 	background-repeat: no-repeat;
				// 	background-size: 14px 12px;
				// 	background-position: 0 center;
				// 	margin-right: 11px;
				// }
			}

			.dropdown-menu__link {
				padding: 9px 32px 9px 64px;
			}

		}

		&:nth-child(2) {}

		&:nth-child(3) {}

		&__title {

			font-family: "Roboto Condensed";
			font-size: 16px;
			font-weight: 400;
			line-height: 39px;
			text-transform: uppercase;
			padding: 0px 50px 0px 0px;
			color: #333333;
			box-shadow: 0 2px 21px 0 transparent;
			letter-spacing: 0.1px;
			cursor: pointer;
			background: url("../images/menu-oval.svg") 100%/9px no-repeat;
			white-space: nowrap;

			&.last {
				background: unset !important;

				a {
					color: #333333;
				}

				&:hover {
					a {
						color: $base;
						text-decoration: none;
					}
				}
			}

			&:hover {

				color: $base;
				// background: url("https://icongr.am/entypo/chevron-down.svg?color=bb0000") 97%/14px no-repeat;
			}

			&.last {
				padding: 9px 24px 9px 22px;
			}

		}

		&__link {
			color: #333333;
			font-family: "Roboto Condensed";
			font-size: 14px;
			font-weight: 400;
			line-height: 2;
			color: #333333;
			cursor: pointer;
			padding: 9px 32px;
			// background: #ffffff;

			&:hover {
				color: #666666;
				text-decoration: underline;
			}
		}

		&.active {


			.dropdown-menu__list {
				display: flex;
				overflow-y: auto;
				// margin-right: -16px;
				// padding-right: 20px;

			}

			.dropdown-menu__item {
				display: flex;
				flex-direction: column;
				background-repeat: no-repeat !important;
				background-position: 21px 50% !important;
			}

			.dropdown-menu__link {
				white-space: nowrap;
			}

			.dropdown-menu__title {
				// box-shadow: 0 -10px 21px 0 rgba(0, 0, 0, 0.1);
				z-index: 999;
				position: relative;

				// color: $base;
				// background: url("https://icongr.am/entypo/chevron-up.svg?color=bb0000") 97%/14px no-repeat;
				&:before {
					content: '';
					width: calc(100% - 50px);
					height: 2px;
					position: absolute;
					bottom: 0;
					background: $base;
				}
			}

			.dropdown-menu__parent {
				position: absolute;
				overflow: hidden;
				box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.09);
				z-index: 99999;
				top: 39px;
			}

		}

		&.collection {
			.dropdown-menu__title {
				background: unset !important;
				color: $base;
				font-family: "Roboto Condensed";
				font-size: 16px;
				font-weight: 700;
				line-height: 39px;
				padding: 0px 0px 0px 0px;
			}


			.sub-menu__list {
				display: none;
			}

			.sub-menu__link {
				z-index: 9;

				&:hover {
					text-decoration: none;

					&:after {
						content: '';
						width: calc(100% - 12px);
						height: 1px;
						position: absolute;
						bottom: 0;
						right: 0;
						border-bottom: 1px dashed;
					}
				}
			}

			.dropdown-menu__parent {
				flex-direction: row;
				// left: -53px;
				right: 0px;
				// max-width: calc(100% + 104px);
				background-color: #fff;
				padding-right: 0;
				max-height: calc(100vh - 150px);
				overflow: visible;
				position: absolute;
				-webkit-box-shadow: 0 18px 41px 0 rgba(0, 0, 0, .1);
				box-shadow: 0 18px 41px 0 rgba(0, 0, 0, .1);
				z-index: 99999;
				top: 100%;
				width: auto;
				min-width: 198px;
				display: none;
				width: 660px;

				&:before {}

				.dropdown-menu__list {
					height: auto;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					padding: 12px 40px;
					justify-content: space-between;
				}
			}

			.dropdown-menu__reference {
				color: inherit;
			}

			.dropdown-menu__image {
				img {
					border: 1px solid transparent;
				}

				&:hover {
					img {
						border: 1px solid $base;

					}

					+.dropdown-menu__subtitle .sub-menu__list {
						display: flex;

						&:after {
							content: '';
							border-bottom: 1px dashed transparent;
							position: absolute;
							// bottom: 8px;
							width: calc(100% + 2px);
							height: calc(100% + 44px);
							left: 0;
							top: -43px;
							box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.09);
						}

					}
				}
			}

			.dropdown-menu__item {
				margin: 17px 17px 7px;
				width: calc((100%/3) - 35px);
				position: relative;

				.dropdown-menu__subtitle {
					padding: 13px 16px 6px 0;
					position: relative;
					width: fit-content;
					cursor: pointer;
					font-family: "Roboto Condensed";
					font-size: 14px;
					font-weight: 400;
					line-height: 29px;

					&:before {
						content: '';
						border-bottom: 1px dashed transparent;
						position: absolute;
						bottom: 8px;
						width: calc(100% - 32px);
					}

					&:hover {
						color: #666666;
						text-decoration: underline;

						// box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.09);
						.dropdown-menu__reference {
							position: relative;
							display: flex;
							z-index: 4;
							text-decoration: none;
						}

						// &:before {
						// 	border-bottom: 1px dashed $base;
						// }

						& .sub-menu__list {
							display: flex;

							&:after {
								content: '';
								border-bottom: 1px dashed transparent;
								position: absolute;
								// bottom: 8px;
								width: calc(100% + 2px);
								height: calc(100% + 44px);
								left: 0;
								top: -43px;
								box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.09);
							}

						}

					}
				}

				.sub-menu__link {
					word-spacing: 2px;
					position: relative;
					padding-left: 11px;
					line-height: 23px;
					margin-bottom: 3px;

					&:before {
						content: '∙ ';
						position: absolute;
						left: 0;
					}
				}

				.sub-menu__list {
					padding-left: 16px;
					background: #ffffff;
					box-shadow: inherit;
					position: absolute;
					width: 267px;
					z-index: 2;
					top: 43px;
					left: -2px;
				}
			}

			.show-more {
				color: $base;
				font-family: Arial;
				font-size: 13px;
				font-weight: 400;
				line-height: 18px;
				margin: 16px 0;
				z-index: 4;

			}

			&.active {
				.dropdown-menu__parent {
					display: flex;

				}

				.dropdown-menu__title {
					// box-shadow: 0 -10px 21px 0 rgba(0, 0, 0, 0.1);
					z-index: 999;
					position: relative;
					color: #212121;
					background: url("https://icongr.am/entypo/chevron-up.svg?color=394791") 97% 12px/14px no-repeat;

					&:before {
						width: 100%;
					}
				}

				// .dropdown-menu__list {
				// 	height: auto;
				// }
			}
		}
	}

	.header__banner {
		width: 30%;
	}

	.sub-menu__list {
		display: flex;
		flex-direction: column;
		padding-left: 30px;
		list-style: none;
	}


	.sub-menu__item {
		display: flex;
		padding-right: 16px;
	}

	.sub-menu__link,
	.sub-menu__item {
		color: #333333;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 29px;
		white-space: nowrap;

		&:hover {
			color: $base;
		}
	}

	@media (max-width: 1200px) {
		margin-left: 58px;
	}

	.time-work {
		display: none;
	}
}

@media (max-width: 767px) {
	.menu.active {
		height: auto;
	}

	.header__dropdown-menu {
		height: 90%;
		left: 3%;
		right: 3%;
		width: 100%;
		display: flex;
		flex-direction: column;
		position: static;
		order: -1;
		margin-left: 0;
		padding-left: 0;
		padding-top: 0;
		align-items: normal;

		.container {
			padding: 0;
			padding-top: 3px;
			margin: 0;
		}

		.dropdown-menu,
		.dropdown-menu__service {
			display: flex;
			margin-left: 0 !important;
			flex-wrap: wrap;
			padding-left: 0px;
			border-bottom: 1px solid #f1f1f1;

			&__three {
				margin-bottom: 0;
				border-bottom: 0;
			}

			&:first-child {
				background: url("../images/grohe.svg") no-repeat 0 10px;

			}

			&:nth-child(2) {
				background: url("../images/sfera.svg") no-repeat 0 10px;

			}

			&:nth-child(3) {
				background: url("../images/collections.svg") no-repeat -1px 14px;

			}

			&__service {
				display: flex;
				background: url("../images/service.svg") no-repeat 0 10px;
				border: 0;

				span {
					background: none !important;
				}
			}

			&__title {
				font-family: "Roboto Condensed";
				font-size: 16px;
				font-weight: 400;
				line-height: 46px;
				padding: 0;
				width: 100%;
				background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 97%/14px no-repeat !important;

				&:hover {
					box-shadow: none !important;
				}

				&.last {
					padding: 0;
				}

				&:before {
					display: none;
				}
			}

			.dropdown-menu__parent {
				padding-bottom: 15px;
				box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.09);
			}

			.dropdown-menu__item {
				margin: 0 !important;
				background-image: none !important;
			}

			&.active {

				.dropdown-menu__list,
				.dropdown-menu__parent {
					position: unset !important;
					box-shadow: none !important;
					padding-top: 0;
					margin-top: 0;
					margin-right: 0px;
					margin-left: 0px;
					width: 100% !important;
				}


				&.new-collection {
					>.dropdown-menu__parent {
						width: 100% !important;
						overflow-y: scroll !important;
						height: 100% !important;
						height: auto !important;
					}

					.collection__banner {
						display: none;
					}

					.dropdown-menu__list {
						display: flex !important;
						flex-direction: column !important;
						width: 100% !important;
						padding: 0 !important;
						flex-wrap: nowrap !important;
						height: auto !important;
					}

					.dropdown-menu__item {
						width: 100% !important;
						max-width: 100% !important;
						margin-bottom: 0;
						border-bottom: 1px solid #f1f1f1;



						.sub-menu__list {
							display: none;
						}

						&:last-child {
							border: 0;
							padding-bottom: 10px;
						}

						&.active {
							.dropdown-menu__subtitle {
								background: url("https://icongr.am/entypo/chevron-down.svg?color=394791") calc(100% - 14px) 10px/18px no-repeat;
							}

							.sub-menu__list {
								display: flex;

								&:after {
									display: none;
								}
							}


						}

					}

					.dropdown-menu__subtitle {
						padding: 8px 17px 8px;
						width: 100%;
						line-height: 22px;
						margin-bottom: 0 !important;
						background: url("https://icongr.am/entypo/chevron-right.svg?color=b0b0b0") calc(100% - 14px) 10px/18px no-repeat;
					}

					.dropdown-menu__image {
						display: none;
					}

					.dropdown-menu__subtitle {
						text-decoration: unset !important;

						&:before {
							display: none;
						}
					}
				}

				.dropdown-menu__title {
					box-shadow: none !important;
					background: url("https://icongr.am/entypo/chevron-up.svg?color=ba1212") 97%/14px no-repeat !important;
				}

			}

			&.collection {
				.dropdown-menu__parent {
					margin-left: -0px;

					.dropdown-menu__list {
						padding: 6px 0 0;

						.dropdown-menu__item {
							width: calc(50% - 7px);
						}

						.dropdown-menu__subtitle {
							width: 100%;
							color: #333333;
							font-family: "Roboto Condensed";
							font-size: 14px;
							font-weight: 400;
							line-height: 1;
							padding: 9px 16px 9px 0;
							margin-bottom: 13px;
						}
					}
				}



				.sub-menu__list {
					position: unset;
				}

				.dropdown-menu__subtitle {

					// background: url("https://icongr.am/entypo/chevron-right.svg?color=b0b0b0") calc(100% - 14px) 10px/18px no-repeat !important;

					&.active {
						// background: url("https://icongr.am/entypo/chevron-down.svg?color=394791") calc(100% - 14px) 10px/18px no-repeat !important;
					}

					.sub-menu__list {
						margin-bottom: 0;
					}
				}


			}
		}

		.dropdown-menu.collection.active .dropdown-menu__title {
			background: url("https://icongr.am/entypo/chevron-up.svg?color=ba1212") 97%/14px no-repeat !important;
		}

		.dropdown-menu.collection .dropdown-menu__title {
			background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 97%/14px no-repeat !important;
		}

		.dropdown-menu__back {
			display: none;
		}

		.header__telephones {
			display: none !important;
		}

		.sub-menu__list {
			padding-left: 13px;
			margin-bottom: 20px;
			max-height: unset !important;
		}

		.sub-menu__link {
			color: #666666;
			font-size: 13px;
			font-weight: 400;
			line-height: 28px;
		}

		.dropdown-menu__link {
			padding: 3px 0 !important;
			color: #666666;
			white-space: normal !important;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			position: relative;
			padding-left: 11px !important;
			margin-bottom: 0 !important;

			&:before {
				content: '∙ ';
				position: absolute;
				left: 0;
			}
		}

	}

	.menu-480 {
		.header__dropdown-menu {
			display: none !important;
		}

		background: url("https://icongr.am/entypo/chevron-down.svg?color=eeeeee")100% 50%/18px no-repeat !important;

		&:hover {
			background: url("https://icongr.am/entypo/chevron-down.svg?color=394791") 100% 50%/18px no-repeat !important;
			background-color: #5a5a5a;
		}
	}

	.menu__item {
		display: flex;
		position: relative;
		flex-wrap: wrap;

		&:first-child {
			order: 2;

			// &:hover {
			// 	background: url("https://icongr.am/entypo/chevron-down.svg?color=394791") 100% 50%/18px no-repeat;
			// 	background-color: #262626;
			// }

			span {
				width: 100%;
			}
		}

		&:nth-child(3) {
			order: 3;
		}
	}


	.new-collection {
		.dropdown-menu__item {
			.dropdown-menu__reference {
				pointer-events: none;
			}

			&.active {
				.dropdown-menu__reference {
					pointer-events: unset;
				}
			}
		}
	}

}


// @media (max-width: 1150px) {
// 	.header__dropdown-menu {
// 		margin-left: 1%;

// 		.dropdown-menu__title {
// 			padding: 2% 8% 2% 4%;
// 			background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 101%/14px no-repeat;

// 			&:hover {
// 				background: url("https://icongr.am/entypo/chevron-down.svg?color=394791") 101%/14px no-repeat;
// 			}
// 		}
// 	}


// }

// @media (max-width: 1000px) {
// 	.header__dropdown-menu {

// 		.dropdown-menu {
// 			margin-left: 0;

// 			&:nth-child(2) {
// 				margin-left: 0;
// 			}

// 			&:nth-child(3) {
// 				margin-left: 0;
// 			}
// 		}

// 		.header__telephones {
// 			margin-left: 0;
// 		}
// 	}


// }



// @media (max-width: 965px) {
// 	.header__dropdown-menu {
// 		flex-wrap: wrap;
// 		margin-left: 0;

// 		.container {
// 			display: block;

// 			.header__telephones {
// 				display: flex;
// 				width: 100%;
// 				padding: 0 24px;
// 			}

// 			.header__phone {
// 				font-size: 20px;
// 				font-weight: 500;
// 				font-style: normal;
// 				font-stretch: normal;
// 				line-height: 1.2;
// 				letter-spacing: normal;
// 				text-align: left;
// 				color: #eeeeee;
// 			}

// 			.header__call-phone-button {
// 				background: unset;
// 			}
// 		}

// 		.dropdown-menu {
// 			width: 100%;
// 			display: flex;
// 			border-top: none;
// 			flex-wrap: wrap;

// 			&:nth-child(2) {
// 				margin-left: 0;
// 			}

// 			&:nth-child(3) {
// 				margin-left: 0;
// 			}

// 			&__back {
// 				display: block;
// 				text-transform: uppercase;
// 				border-top: 1px solid #494949;
// 				font-size: 14px;
// 				font-weight: 500;
// 				font-style: normal;

// 				font-stretch: normal;
// 				line-height: 4;
// 				letter-spacing: normal;
// 				text-align: left;
// 				width: 100%;
// 				justify-content: flex-end;
// 				color: #eeeeee;
// 				text-align: right;
// 				background: url("https://icongr.am/entypo/chevron-left.svg?color=eeeeee") 0/18px no-repeat;
// 			}

// 			&__list {
// 				box-shadow: none;
// 				margin-top: 0;

// 				li:hover {
// 					color: $base
// 				}
// 			}

// 			&__item {
// 				flex-basis: 100%;
// 			}

// 			&__link {
// 				padding-left: 0;
// 				font-size: 14px;
// 				font-weight: normal;
// 				font-style: normal;
// 				font-stretch: condensed;
// 				letter-spacing: normal;
// 				color: #666666;
// 			}

// 			&__title {
// 				padding: 15px 0;
// 				width: 100%;

// 				&:hover {
// 					box-shadow: none;

// 				}
// 			}

// 			&+.dropdown-menu {
// 				border-top: 1px solid #f1f1f1;
// 				border-bottom: 1px solid #f1f1f1;


// 				&+.dropdown-menu {
// 					border-top: none;
// 					border-bottom: 1px solid #f1f1f1;

// 				}
// 			}

// 			&:last-child {
// 				border-bottom: 1px solid #f1f1f1;
// 			}
// 		}

// 		.header__telephones {
// 			display: none;
// 		}

// 		.active {
// 			.dropdown-menu__list {
// 				position: unset !important;
// 			}


// 			.dropdown-menu__title {
// 				background: url("https://icongr.am/entypo/chevron-down.svg?color=666666") 97%/18px no-repeat;
// 				box-shadow: none !important;
// 			}

// 		}
// 	}
// }
