<div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link">Grohe</a>
	<span class="breadcrumbs__sep">/</span>
	<span class="breadcrumbs__text">Инструкции</span>
</div>

<h1 class="title">
	Инструкции к товарам Grohe
</h1>
<!-- /.instructions-main__title -->
<div class="instructions-main">

	<div class="instructions-main__items">


		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/Духовойшкаф.jpg" alt="Духовые шкафы" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="/technical-documentation/dukhovye-shkafy-jackys/" title="Духовые шкафы"
					class="instructions-main__title">Инструкции для духовых шкафов Jacky's</a>
				<!-- /.instructions-main__title -->
				<a href="/technical-documentation/dukhovye-shkafy-jackys/" title="Духовые шкафы"
					class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>

		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/варочнаяпанельджеки.jpg" alt="Варочные поверхности" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="/technical-documentation/varochnye-poverkhnosti-jackys/" title="Варочные поверхности"
					class="instructions-main__title">Инструкции для варочных панелей Jacky's</a>
				<!-- /.instructions-main__title -->
				<a href="/technical-documentation/varochnye-poverkhnosti-jackys/" title="Варочные поверхности"
					class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>

		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/холод.jpg" alt="Холодильники" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="/technical-documentation/holodilniki-jackys/" title="Холодильники"
					class="instructions-main__title">Инструкции для холодильников Jacky's</a>
				<!-- /.instructions-main__title -->
				<a href="/technical-documentation/holodilniki-jackys/" title="Холодильники"
					class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>

		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/морозилка.jpg" alt="Морозильники" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="/technical-documentation/morozilniki-jackys/" title="Морозильники"
					class="instructions-main__title">Инструкции для морозильников Jacky's</a>
				<!-- /.instructions-main__title -->
				<a href="/technical-documentation/morozilniki-jackys/" title="Морозильники"
					class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>

		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/посудка.jpg" alt="Посудомоечные машины" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="/technical-documentation/posudomoechnye-mashiny-jackys/" title="Посудомоечные машины"
					class="instructions-main__title">Инструкции для посудомоечных машин Jacky's</a>
				<!-- /.instructions-main__title -->
				<a href="/technical-documentation/posudomoechnye-mashiny-jackys/" title="Посудомоечные машины"
					class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>

		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/Стиральнаямашина.jpg" alt="Стиральные машины" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="/technical-documentation/stiralnye-mashiny-jackys/" title="Стиральные машины"
					class="instructions-main__title">Инструкции для стиральных машин Jacky's</a>
				<!-- /.instructions-main__title -->
				<a href="/technical-documentation/stiralnye-mashiny-jackys/" title="Стиральные машины"
					class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>

		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/сушилка.jpg" alt="Сушильные машины" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="/technical-documentation/sushilnye-mashiny-jackys/" title="Сушильные машины"
					class="instructions-main__title">Инструкции для сушильных машин Jacky's</a>
				<!-- /.instructions-main__title -->
				<a href="/technical-documentation/sushilnye-mashiny-jackys/" title="Сушильные машины"
					class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>

		<!-- /.instructions-main__item -->
	</div>

</div>
