.header {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	width: 100%;
	margin-right: auto;
	position: relative;

	.header-inner & {
		flex-direction: row-reverse;
	}

	&__blocks {
		width: 100%;
		z-index: 999;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
	}

	&__block {

		position: relative;
		display: flex;
		z-index: 3;

		.container {
			display: flex;
			position: relative;
			align-items: center;
			padding: 0 0 0 2px;
		}

		&_top {
			justify-content: center;
			align-items: center;
			// background: #ffffff;
			height: 40px;
			z-index: 9;
			background: #212121;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.09);
		}

		&_bottom {
			height: 75px;
			color: white;
			flex-wrap: wrap;
			position: relative;
			z-index: 4;
			// margin: 2px 0;
			// border-top: 1px solid #f1f1f1;
		}

		.hamburger {
			display: none;
		}

		&_menu {
			height: 40px;
			background: #f1f1f1;
		}

	}

	&__link {
		font-family: 'fonta27c5975a1a88dcd17c7c606902044d9';
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
	}

	&__img {
		z-index: 100;
		width: 56px;
		height: 58px;
		margin-top: -30px;
		margin-right: 16px;
		min-width: 56px;
	}

	&__telephones {
		// height: 28px;
		display: flex;
		align-items: center;
		// margin-left: auto;
		// flex-grow: 1;
		// margin-bottom: 3px;
		// margin-left: auto;
		margin-left: 16px;

		.telephones {
			display: flex;
			flex-direction: column;
			margin-left: auto;
			margin-left: 32px;

			&__info,
			.time-work {
				color: #666666;
				font-family: Arial;
				font-size: 13px;
				font-weight: 400;
				line-height: 22px;
				position: relative;
			}

			.time-work__text {

				&:first-child {
					border-bottom: 1px dotted #00000099;
					width: fit-content;
				}

				+.time-work__text {
					display: none;
					border-bottom: none;

					+.time-work__email {
						display: none;
					}
				}
			}

			.time-work__text:hover {
				cursor: pointer;

				+.time-work__text {
					position: absolute;
					background: #333;
					-webkit-border-radius: 3px;
					-webkit-background-clip: padding-box;
					-moz-border-radius: 3px;
					-moz-background-clip: padding;
					border-radius: 3px;
					background-clip: padding-box;
					color: #fff;
					font-size: 11px;
					line-height: 16px;
					padding: 15px 20px;
					top: 30px;
					transform: translateX(-50%);
					left: 50%;
					max-width: 300px;
					z-index: 1000000;
					display: block;
					white-space: nowrap;

					&:before {
						content: '';
						position: absolute;
						transform: translateX(-50%);
						left: 50%;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 16px 16px 16px;
						border-color: transparent transparent #333 transparent;
						position: absolute;
						top: -10px;
					}
				}
			}
		}


	}

	&__phone {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: condensed;
		line-height: 1.44;
		letter-spacing: normal;
		color: #333333;
		white-space: nowrap;
		text-decoration: none !important;
	}

	&__call-phone-button {
		// width: 142px;
		padding: 9px 24px;

		font-family: 'Roboto Condensed', sans-serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: condensed;
		line-height: 1.71;
		letter-spacing: normal;
		color: $base;
		border-radius: 3px;
		background-color: #ffffff;
		border: solid 1px $base;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		display: flex;
		white-space: nowrap;
		// margin-right: 43px;
		margin-left: 30px;

		&:hover {
			text-decoration: unset;
		}
	}

	&__icons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 24px;
		margin-left: 29px;
		margin-right: 9px;
		// align-self: flex-end;
	}

	.header__block_top {
		.header__icons {
			flex-grow: 1;
			margin-right: 4px;
			margin-left: 40px;

		}
	}

	.header__block_bottom {
		.header__icons {
			flex-grow: 1;
			justify-content: center;
		}
	}

	.search__popup {
		position: absolute;
		width: 100.5%;
		top: 96%;
		background-color: #ffffff;
		padding: 30px 0 26px;
		display: flex;
		justify-content: center;
		z-index: 98;
		right: 100%;
		opacity: 0;

		&-open {
			display: flex;
			right: -0.3%;
			opacity: 1;
		}
	}

	&__overlay {
		display: none;
		left: 0;
		top: 115px;
		position: fixed;
		width: 100%;
		height: 100vh;
		opacity: 0.6;
		background-color: #000000;
		z-index: 90;

		&-open {
			display: flex;
		}
	}

	&__form {
		position: relative;
		width: 45%;
		display: flex;
		justify-content: space-between;

		input {
			border: 0;
		}
	}

	&__button {
		max-width: 24px;
		width: 100%;
		height: 24px;
		background: url("https://icongr.am/clarity/close.svg?color=666666") 0/24px no-repeat;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 5%;
		display: none;
	}

	&__input {
		width: 100%;
		background: inherit;
		border-bottom: 1px solid #666666 !important;
		font-size: 24px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #333333;
		padding-bottom: 15px;
	}

	&__submit {
		background: url("../images/search.svg") 0/20px no-repeat;
		border: 0;
		position: absolute;
		right: 0;
		display: none;
	}

	&__search {
		width: auto;
		// height: 100%;
		display: flex;
		// margin-right: 35px;
		cursor: pointer;
		background: rgba(255, 255, 255, 0.1918248);
		height: 39px;
		color: #cbcbcb;
		font-family: Arial;
		font-size: 13px;
		font-weight: 400;
		line-height: 15px;
		display: flex;
		align-items: center;
		padding-left: 16px;
		// max-width: 240px;
		width: 100%;


		&:before {
			content: '';
			width: 14px;
			height: 14px;
			flex-shrink: 0;
			margin-right: 24px;
			background-size: contain !important;
			background-position: center center !important;
			background: url("../images/search.svg") no-repeat;
		}

		// &-open,
		// &:hover {
		// 	&:before {
		// 		background: url("../images/musica-searcher-1.svg") no-repeat;
		// 	}

		// }



	}

	&__favorite,
	&__compare,
	&__basket {
		min-width: 39px;
		height: 100%;
		display: flex;
		justify-content: center;
		text-decoration: none !important;
		position: relative;

		align-items: center;


		&:before {
			content: '';
			width: 40px;
			height: 40px;
			// background-color: ;
			border-radius: 50%;
			flex-shrink: 0;
			margin-right: 0px;
			background-size: 24px !important;
			background-position: center center !important;
		}

		&.active {}
	}

	&__favorite {
		&:before {
			background: url("../images/header-fav.svg") no-repeat #f1f1f1;
		}

		margin-right: 36px;

		// &:hover {

		// 	&:before {
		// 		background: url("../images/header-fav-active.svg") no-repeat #f1f1f1;
		// 	}
		// }

		&.active {
			position: relative;
		}
	}

	&__compare {
		&:before {
			background: url("../images/header-compare.svg") no-repeat #f1f1f1;
		}

		margin-right: 36px;

		// &:hover {

		// 	&:before {
		// 		background: url("../images/header-compare-active.svg") no-repeat;
		// 	}
		// }

		&.active {
			position: relative;
		}
	}

	&__basket {

		// margin-right: 5px;

		&:before {
			background: url("../images/shopping-cart.svg") no-repeat;
			margin-right: 10px;
		}

		&-info {
			color: #666666;
			font-family: Arial;
			font-size: 13px;
			font-weight: 400;
			line-height: 22px;
		}

		&-link {
			color: #ba1212;
			font-family: Arial;
			font-size: 13px;
			font-weight: 400;
			line-height: 22px;
		}

		&-price {
			color: #333333;
			font-family: "Roboto Condensed";
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
		}

		&-open,
		&:hover {

			&:before {
				background: url("../images/shopping-cart__color.svg") no-repeat;
			}
		}
	}

	&__number {
		position: absolute;
		/* Style for "Oval" */
		top: -13px;
		left: 25px;
		min-width: 20px;
		min-height: 20px;
		padding: 1px 3px;
		color: #ffffff;
		font-family: Arial;
		font-size: 13px;
		font-weight: 400;
		line-height: 17px;
		text-align: center;
		background-color: $base;
		border-radius: 50%;
		border: 2px solid white;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.hamburger {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		outline: 0;
		border: 0;
		background: none;
		padding: 0;
		order: -2;

		&__img {
			width: 24px;
			height: 24px;
			background: url('../images/rectangle-6.svg')
		}
	}

	&__mobile-tel {
		display: none;
	}

	// .time-work {
	// 	display: none;
	// }

	@media screen and (max-width: 767px) {
		z-index: 99999;

		.header {
			&__blocks {
				display: flex;
				flex-direction: column;
			}

			&__blocks * {
				transition: 0s;
			}


			&__img {
				display: none;
			}

			&__number {
				position: absolute;
				/* Style for "Oval" */
				width: 13px;
				height: 13px;
				border: 1px solid #ffffff;
				background-color: $base;
				color: #ffffff !important;
				font-family: Arial;
				font-size: 8px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				top: -6px;
				right: -5px;
			}

			&__basket-link {
				position: absolute;
				/* Style for "Oval" */
				width: 11px;
				height: 11px;
				border: 1px solid #ffffff;
				background-color: $base;
				color: #ffffff !important;
				font-family: Arial;
				font-size: 8px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				top: 0px;
				right: 0px;
				white-space: nowrap;
				padding-left: 2.4px;
				// padding-top: 1px;
				letter-spacing: 9px;
				line-height: 9px;
			}

			&__basket-info {
				letter-spacing: 100px;

				.header__basket-price {
					display: none;
				}
			}

			&__block_bottom {
				display: none;

				&.active {
					display: block;
					transform: scale(1);
					position: fixed;
					top: 57px;
					left: 0;
					width: 100%;
					height: 100%;
					transition: transform 0.3s;
					display: flex;
					align-items: baseline;
					box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
					background-color: #ffffff;
					overflow: auto;
					padding-bottom: 12vh;
					padding-top: 52px;
				}
			}

			&__block_menu {
				// order: -2;
				display: none;
			}

			&__block_top {
				// order: -3;
				height: 60px;
				border-bottom: 1px solid #f1f1f1;
				align-items: flex-start;
				padding-top: 16px;
				background: white;
				box-shadow: none;

				.header__icons {
					display: flex;
					flex-grow: 0;
					max-width: 225px;
					margin-left: auto;
					margin-right: 0;
				}

				.menu__list {
					display: flex;
				}

				&.active {
					height: 112px;

					.header__favorite,
					.header__compare {
						display: flex;
					}
				}

				&:after {
					content: '';
					height: 1px;
					width: 100%;
					border-bottom: 1px solid #f1f1f1;
					position: absolute;
					top: 60px;
				}
			}

			&__icons {
				flex: unset;
				flex-basis: unset;
				margin-left: auto;
				justify-content: flex-end;
				min-width: 116px;
				align-self: unset;
				margin-right: 0px;
				flex-grow: 0;

			}

			&__favorite,
			&__compare,
			&__basket {
				min-width: 20px;
				width: 20px;
				height: 20px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				position: relative;

				&.active .header__number {
					color: white !important;
				}
			}

			&__basket {
				overflow: hidden;
				width: 28px;
				height: 28px;
				justify-content: flex-start;
				white-space: nowrap;
				padding-left: 2px;

				&:before {
					width: 100%;
					height: 100%;
					background-size: 20px !important;
					margin-right: 22px;
				}

				// &:hover {

				// 	&:before {
				// 		background-size: 22px !important;
				// 	}
				// }
			}

			&__favorite {
				display: none;
				position: absolute;
				margin-right: 12px;
				top: calc(100% - 38px);
				left: 18px;
				align-items: center;
				width: auto;
				height: 24px;


				&:before {
					background-size: 23px !important;
					margin-right: 0;
				}

				&:after {
					content: 'Отложенное';
					color: #333333;
					font-family: Arial;
					font-size: 14px;
					font-weight: 400;
					line-height: 18px;
					margin-left: 10px;
				}

				&:hover {

					// &:before {
					// 	background-size: 22px !important;
					// }
				}

				.header__number {
					top: -11px;
					// left: 13px;
				}

			}

			&__compare {
				display: none;
				position: absolute;
				margin-right: 12px;
				top: calc(100% - 38px);
				right: 14px;
				align-items: center;
				width: auto;
				height: 24px;


				&:before {
					background-size: 23px !important;
					margin-right: 0;
				}

				&:after {
					content: 'Сравнение';
					color: #333333;
					font-family: Arial;
					font-size: 14px;
					font-weight: 400;
					line-height: 18px;
					margin-left: 10px;
				}

				&:hover {

					// &:before {
					// 	background-size: 22px !important;
					// }
				}

				.header__number {
					top: -11px;
					// left: 13px;
				}
			}


			&__search {
				margin-right: 0px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin: 0 18px 0 23px;
				width: auto;
				width: 22px;
				height: 22px;
				padding: 0;
				overflow: hidden;

				&:before {
					background-size: 22px !important;
					flex-shrink: 0;
					margin-right: 0;
					background: url(../images/musica-searcher-2.svg) no-repeat;
					width: 100%;
					height: 100%;
				}

				&:hover {

					&:before {
						// background-size: 19px !important;
					}
				}
			}

			// &__favorite {
			// 	// width: 26px;

			// 	// .header__number {
			// 	// 	position: absolute;
			// 	// 	/* Style for "Oval" */
			// 	// 	width: 11px;
			// 	// 	height: 11px;
			// 	// 	border: 1px solid #ffffff;
			// 	// 	background-color: #d8d8d8;
			// 	// 	color: #666666;
			// 	// 	font-family: Arial;
			// 	// 	font-size: 8px;
			// 	// 	border-radius: 50%;
			// 	// 	display: flex;
			// 	// 	align-items: center;
			// 	// 	justify-content: center;
			// 	// 	top: 0;
			// 	// 	right: 6px;
			// 	// }
			// }

			// &__compare {
			// 	width: auto;
			// 	max-width: 40px;
			// 	margin-right: 11px;
			// }

			&__mobile-tel {
				width: 24px;
				height: 100%;
				display: flex;
				background: url('../images/Fill_1.svg') no-repeat;
				background-position: center center;
				margin-right: 0px;
				order: -1;
				background-size: 17px !important;
				align-items: center;
			}

			&__block_bottom .header__mobile-tel {
				display: none;
			}

			// &__basket {
			// 	width: auto;
			// 	max-width: 40px;
			// 	margin-right: -0px;

			// }

			// &__number {
			// 	font-size: 13px;
			// 	font-weight: normal;
			// 	font-style: normal;
			// 	font-stretch: normal;
			// 	line-height: 1;
			// 	letter-spacing: normal;
			// 	color: #666666;
			// 	padding-top: 4px;
			// }



			&__form {
				width: 95%;
			}

			&__telephones {
				margin-left: 0;
				flex-direction: column;
				width: 100%;

				.telephones {
					order: -1;
					margin-left: 0;
					flex-direction: column;
					width: 48%;

					.header__phone:last-child {
						// margin-left: 1rem;
					}

					.time-work__text+.time-work__text {
						display: block;

						+.time-work__email {
							display: block;
						}
					}
				}

				.telephones__info {
					display: none;
				}

				.header__call-phone-button {
					color: $base;
					font-family: Arial;
					font-size: 10px;
					line-height: 22px;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					margin: 5px 0 0 0;
					padding-left: 0;
					border: 0;
					width: auto;
					text-decoration: none !important;
					flex-wrap: wrap;
					display: flex;

					&::before {
						content: '';
						background: url('../images/footer__call.png');
						// background: url('../images/social-items-vk.png') no-repeat #f8f8f8;
						margin-right: 10px;
						width: 12px;
						height: 12px;
					}

					&::after {
						content: '';
						border-bottom: 1px dashed $base;
						width: calc(100% - 24px);
						height: 0px;
						margin-top: -5px;
					}

				}
			}
		}

		.container {
			justify-content: unset;
			position: unset;
			flex-wrap: wrap;
		}

		.hamburger {
			display: block;
			margin-right: 16px;
			margin-top: 5px;

			&__img {
				width: 18px;
				height: 18px;
				background: url('../images/rectangle-6.svg') 0/18px;

			}
		}

		.opened {
			.hamburger__img {
				background: url('https://icongr.am/entypo/cross.svg?color=7d8082') 0/18px center;
				width: 18px;
				height: 18px;
			}
		}
	}
}
