<div class="header-search header-search_inputtype">
	<div class="header-search__inner">
		<div class="header-search__close js-header-search__close"></div>
		<div class="header-search__logo"></div>
		<div class="header-search__middle">
			<form action="#" class="header-search__form">
				<input type="text" class="header-search__input js-header-search__input" value="">
				<input type="submit" class="header-search__submit" value="">
			</form>
		</div>
		<div class="header-search__section header-search__section_top">
			<div class="header-search__searchTable">
				<table>
					<tr>
						<td>
							<img src="images/foto_1.jpg" alt="" />
						</td>
						<td>
							<a href="#">Духовой шкаф Miele H2265-1B EDST/CLST сталь CleanSteel</a>
						</td>
						<td>
							<span class="header-search__price special-offers__price">64 900<i
									class="special-offers__rub">руб.</i>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/foto_2.jpg" alt="" />
						</td>
						<td>
							<a href="#">Встраиваемый хлодильник Miele KE DS2901Vi</a>
						</td>
						<td>
							<span class="header-search__price special-offers__price catalog__price price__dashed">
								199 000
								<i class="special-offers__rub catalog__rub">руб.</i>
								<span class="price__absolute">
									250 000 руб.
									<div class="price__cheaper">
										-10%
									</div>
									<!-- /.catalog__cheaper -->
								</span>
								<div class="announcing__popup">
									Цена действует при покупке комплекта техники Miele
									<a href="#">
										Подробнее
									</a>
								</div>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/foto_3.jpg" alt="" />
						</td>
						<td>
							<a href="#">Встраиваемая вытяжка MieleDA1260 сталь</a>
						</td>
						<td>
							<span class="header-search__price special-offers__price">64 900<i
									class="special-offers__rub">руб.</i>
							</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- /.header-search__section header-search__section_top -->
		<div class="header-search__section header-search__section_bottom">
			<div class="header-search__products">
				<div class="header-search__popularTitle">Спецпредложения и акции</div>
				<div class="header-search__hints">
					<a href="#" class="header-search__link">
						Вертикальный беспроводной пылесос Triflex по выгодной цене.
					</a>
					<a href="#" class="header-search__link">
						Блестящие результаты с выгодой 25%
					</a>
				</div>
			</div>
			<a href="#" class="header-search__more">Посмотреть все РЕЗУЛЬТАТЫ</a>
		</div>
	</div>
</div>
