{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">

		{% include 'header/global/header.html' %}

		<div class="section">
			<div class="content-top lazyloaded" data-bg-custom="images/catalog.png" data-webp="images/catalog.png"
				style="background-image:url(images/catalog.png);">
				<div class="content-top__inner">
					<div class="container">
						<div class="breadcrumbs">
							<a href="#" class="breadcrumbs__link">Smeg</a>
							<span class="breadcrumbs__sep">/</span>
							<a href="#" class="breadcrumbs__link">Бытовые холодильники</a>
							<span class="breadcrumbs__sep">/</span>
							<span class="breadcrumbs__text">Холодильники</span>
						</div>
						<div class="content-top__aside">
							<h1 class="page__title content-top__title content-top__title_top">Коллекция <br> Стиль 50-х
								годов
							</h1>
							<div class="page__title content-top__title content-top__title_bottom">Холодильники Либхер
								отличаются
								не
								только
								безупречным внешним видом, но и невероятными функциональными возможностями. Грамотное
								применение
								инновационных
								технологий позволяет значительно упростить эксплуатацию бытовой техники. В зависимости
								от модели
								они
								могут быть
								оборудованы функцией No Frost, то есть их не нужно размораживать. Автоматическая
								вентиляция
								проветривает
								внутреннее
								пространство холодильника, а система отвода конденсата препятствует накоплению инея.
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="content">
				<div class="container">
					<div class="d-flex  ">

						<div class="col-md-3">
							<div class="filter__date">Обновление цен от 14 июля 2018</div>
							<div class="js-favorite_filter">
								<form class="filter__form js-form" action="" method="post">
									<input type="hidden" name="action" value="changeSectionsFavorites">
									<div class="filter__item">
										<div class="filter__title js-filter__title">Категории</div>
										<div class="filter__checkbox">

											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Все</span>
												<span class="checkbox-number">3</span>
											</label>

											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Винные шкафы</span>
												<span class="checkbox-number">3</span>
											</label>

											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Хьюмидоры</span>
												<span class="checkbox-number">3</span>
											</label>

											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Пароварки</span>
												<span class="checkbox-number">3</span>
											</label>
											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Пароварки</span>
												<span class="checkbox-number">3</span>
											</label>
											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Пароварки</span>
												<span class="checkbox-number">3</span>
											</label>
											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Пароварки</span>
												<span class="checkbox-number">3</span>
											</label>
											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Пароварки</span>
												<span class="checkbox-number">3</span>
											</label>
											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Пароварки</span>
												<span class="checkbox-number">3</span>
											</label>
											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Пароварки</span>
												<span class="checkbox-number">3</span>
											</label>
											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Пароварки</span>
												<span class="checkbox-number">3</span>
											</label>
											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Пароварки</span>
												<span class="checkbox-number">3</span>
											</label>
											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Пароварки</span>
												<span class="checkbox-number">3</span>
											</label>
											<label>
												<input
													class="checkbox filter_checkbox pers_data_check js-art_type-change"
													type="checkbox" name="F_SECTIONS[]" value="19">
												<span class="checkbox-custom">Пароварки</span>
												<span class="checkbox-number">3</span>
											</label>

										</div>
									</div>
								</form>
							</div>
							<div class="sidebar">
								<ul class="work-link">
									<li class="work-link__item">
										<a class="work-link__a" href="/service/">Сервисные центры
										</a>
									</li>
									<li class="work-link__item">
										<a class="work-link__a" href="/documentation/">Техническая документация
										</a>
									</li>
									<li class="work-link__item">
										<a class="work-link__a" href="/warranty/">Официальная гарантия
										</a>
									</li>
								</ul>
								<div class="yandex">
									<div class="yandex__inner">
										<div class="yandex__logo">
											<img src="images/ylogo.png" alt="" srcset="" class="yandex__img">
										</div>
										<div class="yandex__ratings">
											<img src="images/5-stars.png" alt="" srcset="">
										</div>
										<a href="#" target="_blank" class="yandex__button">Оставить отзыв</a>
										<a href="#" target="_blank" class="yandex__button">Читать все отзывы</a>
									</div>
								</div>
								<div class="quality">
									<span class="quality__title">Контроль качества</span>
									<span class="quality__text">Номер для претензий и предложений:</span>
									<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
									<span class="quality__worktime">с 9:00 до 18:00</span>
									<a href="#" class="quality__button" id="js-quality-opener">Написать</a>
								</div>
							</div>
						</div>

						<div class="special-offers catalog">

							{% include 'section/collections 02-07/collections.html' %}
						</div>
					</div>

				</div>
			</div>
			<!-- /.content -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->

	{% include 'footer/global/footer.html' %}
	{% include 'connect/script.html' %}
	{% include 'connect/stylesheet.html' %}

</body>

</html>
