<article class="about-brand">
	<div class="container">
		<h2 class="about-brand__title">
	О бренде Jacky’s
		</h2>
		<p>
			<img src="images/about-brand.png" align='right' alt="">
			Jacky’s – английский премиальный бренд крупной бытовой техники, созданный группой талантливых разработчиков – английских инженеров и дизайнеров. В основу компании положен опыт работы ведущих производителей крупной бытовой техники Европы.
			<br>
			<br>
			Продукция бренда распространяется по всему миру. Представительства компании расположены более чем в тридцати странах.
			<br>
			<br>
Вся бытовая техника Jacky’s создается на ведущих мировых производственных площадках под тщательным контролем наших лучших английских инженеров и дизайнеров.
			<br>
			<br>
			Продукция бренда распространяется по всему миру. Представительства компании расположены более чем в тридцати странах. Вся бытовая техника Jacky’s создается на ведущих мировых производственных площадках под тщательным контролем наших лучших английских инженеров и дизайнеров.
		</p>
	</div>
</article>
