<article class="seo-text text-default ">
	<div class="container">
		<h2 class="seo-text__title">
			Дизайн и качество
		</h2>
		<img src="images/main-seo-text.png" alt="" class="pic_left  loaded lazyloaded">

		<p>
			За годы существования компании ей были присуждены премии за инновационные технологии, архитектурные и
			дизайнерские решения. Она неоднократно побеждала в номинации «Лучшая бытовая техника» в разных странах.

		</p>
		<p>Smeg не следует современным тенденциям, а создает свой неповторимый стиль — яркий, солнечный, итальянский.
			При этом ошибкой было бы думать, что это вариации классики и ретро, коллекция Linea была создана в модной
			стилистике минимализма. Основная линейка выполняется с учетом новейших требований к эргономике и внешнему
			виду приборов.
		</p>
		<p>Наравне с качеством продукции приоритетами производителя являются забота об окружающей среде и соблюдение
			экологических норм. Его заботит не только минимизация воздействия на окружающую среду пари эксплуатации
			приборов, но и соответствие самого производства современным стандартам экологичности.
		</p>
		<p>Мы предлагаем купить элитную по доступной цене в Москве и с доставкой в другие регионы и недорогой
			установкой. Все новинки официального сайта доступны у нас в самые короткие сроки.
		</p>

		<div class="about-store__button js-about-store__button">Читать подробнее</div>
	</div>

</article>
<article class="seo-text text-default ">
	<div class="container">
		<h2 class="seo-text__title">
			Бытовая техника СМЕГ
		</h2>
		<img src="images/main-seo-text-2.png" alt="" class="pic_right loaded lazyloaded">
		<p align="justify">
			Более 60 лет Smeg бытовая техника известна благодаря своему качеству, энергоэффективности и уникальному
			дизайну.
			Торговая марка представлена 17 филиалами и широкой сетью дистрибьютеров по всему миру. Головной офис
			компании
			находится в городе Гуасталла на севере Италии в провинции Реджо Эмилья. Именно там расположено знаменитое
			дизайнерское
			бюро, которое создает неповторимый облик приборов.
		</p>

		<p align="justify">
			Встраивая техника для кухни составляет почти половину ассортимента. Варочные панели и духовки выпускаются в
			нескольких
			коллекциях — Cortina, Victoria, Dolce Stil Novo, Coloniale, Classica, Linea, которые объединены единым
			дизайном и
			фурнитурой. Это позволяет создать интерьеры в одном стиле, а также дополнять встроенные модели
			отдельностоящим
			холодильником, стиральной машиной, тостером, чайником, миксером и т.п. Подробнее с каталогом можно
			познакомиться в нашем
			интернет-магазине .
		</p>
		<p align="justify">
			Кухонная техника Смег получила признание и на рынке профессиональных приборов. Подразделения компании
			Foodservice и
			Instruments производят оборудование для предприятий общественного питания и медицинских учреждений. Именно
			производство печей, холодильного оборудования, посудомоечных машин для ресторанов и гостиниц позволяет
			внедрять

			инновации при создании бытовых приборов.
		</p>
	</div>
</article>
<div class="gallery__items">
	<div class="container">
		<div class="gallery__el">
			<a href="#" class="gallery__link">
				<picture>
					<img src="images/gallery-link_5.png" alt="">
				</picture>
				<div class="gallery__parent">
					<span class="gallery__article">
						Официальная гарантия
					</span>
					<!-- /.gallery__article -->
					<span class="gallery__text">
						Гарантийный сервис Bosch
					</span>
					<!-- /.gallery__text -->
				</div>
				<!-- /.gallery__parent -->
			</a>
			<!-- /.gallery__link -->
		</div>
		<!-- /.gallery__el -->
		<div class="gallery__el">
			<a href="#" class="gallery__link">
				<picture>
					<img src="images/gallery-link_6.png" alt="">
				</picture>
				<div class="gallery__parent">
					<span class="gallery__article">
						Сервис и обслуживание
					</span>
					<!-- /.gallery__article -->
					<span class="gallery__text">
						Об установке и подклчении
					</span>
					<!-- /.gallery__text -->
				</div>
				<!-- /.gallery__parent -->
			</a>
			<!-- /.gallery__link -->
		</div>
		<!-- /.gallery__el -->
		<div class="gallery__el">
			<a href="#" class="gallery__link">
				<picture>
					<img src="images/gallery-link_7.png" alt="">
				</picture>
				<div class="gallery__parent">
					<span class="gallery__article">
						Глоссарий
					</span>
					<!-- /.gallery__article -->
					<span class="gallery__text">
						Технологии компании Bosch
					</span>
					<!-- /.gallery__text -->
				</div>
				<!-- /.gallery__parent -->
			</a>
			<!-- /.gallery__link -->
		</div>
		<!-- /.gallery__el -->
		<div class="gallery__el">
			<a href="#" class="gallery__link">
				<picture>
					<img src="images/gallery-link_8.png" alt="">
				</picture>
				<div class="gallery__parent">
					<span class="gallery__article">
						Отзывы
					</span>
					<!-- /.gallery__article -->
					<span class="gallery__text">
						Отзывы и мнения покупателей
					</span>
					<!-- /.gallery__text -->
				</div>
				<!-- /.gallery__parent -->
			</a>
			<!-- /.gallery__link -->
		</div>
		<!-- /.gallery__el -->
	</div>
	<!-- /.container -->
</div>
<article class="seo-text text-default">
	<div class="container">
		<h2 class="center">Официальные сайты и дилеры Smeg</h2>
		<p>
			Купить бытовую и другую технику Smeg не составит труда — в каталоге с помощью удобного поиска вы отыщете
			нужную
			модель, для осуществления покупки просто отправьте выбранную технику в «Корзину». Наш менеджер свяжется с
			вами для
			уточнения деталей заказа. Для вас работает доставка по России, Москве и Московской области. Качественная
			бытовая
			техника «Смег» гарантированно сделает вашу жизнь проще, и покупка долгие годы будет радовать вас своей
			надежностью и
			универсальностью.
		</p>
		<div class="official-dealers">
			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="//www.youtube.com/embed/hXlZLJs_pO8" id="bx_3322728009_11700">

				<picture>

					<source type="image/webp" class=" lazyloading" data-srcset="images/official-dealers.png"
						srcset="images/official-dealers.png">

					<img data-src="images/official-dealers.png" alt="видео 1 на главной"
						class="official-dealers__pic lazyloaded" src="images/official-dealers.png">
				</picture>
			</a>
			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="//www.youtube.com/embed/41QGgxGqjb4" id="bx_3322728009_11701">

				<picture>

					<source type="image/webp" class=" lazyloading" data-srcset="images/official-dealers-2.png"
						srcset="images/official-dealers-2.png">

					<img data-src="images/official-dealers.png" alt="видео 2 на главной"
						class="official-dealers__pic lazyloaded" src="images/official-dealers-2.png">
				</picture>

			</a>
		</div>
		<p>
			В отличие от других морозильных отделений в Monolith все пространство занято не контейнерами, а похоже на
			холодильное: полки, ящики и дверные емкости. Это удобнее для быстрого доступа к часто используемым
			продуктам, не нужно перебирать все упаковки, чтобы
			найти нужную. Прозрачные передняя стенка позволяет быстро найти нужные продукты. На дверцах можно хранить
			упаковки ягод для коктейлей и смузи, мороженое, замороженные травы и овощи для заправки супов.
		</p>
		<p>
			Большие контейнеры BioFresh помещены на телескопические направляющие и оснащены отдельной светодиодной
			панелью в верхней части.
		</p>
		<p>
			В приборах использованы современные технологии охлаждения и хранения. Система NoFrost отводит излишнюю влагу
			из морозильного отделения, поэтому наледь не образуется, а значит, нет необходимости проводить разморозку.
		</p>
		<p>
			Равномерное охлаждение PowerCooling в холодильной камере поддерживает равномерную температуру. Фильтр с
			активированным углем FreshAir убирает неприятные запахи.

		</p>
		<div class="about-store__button js-about-store__button">Читать подробнее</div>
	</div>

</article>
<article class="seo-text text-default">
	<div class="container">
		<h2 class="seo-text__title">Сервисные центры Smeg в России</h2>
		<img alt="" src="images/service-centers.png" class="pic_right loaded lazyloaded" title="">
		<p>
			Почему нужно хранить продукты в холодильнике? В результате биохимических процессов углеводы и белки
			разрушаются, низкая температура приостанавливает этот процесс. Одна из главных причин порчи — размножение
			микроорганизмов (бактерий, дрожжей и грибов),
			а при охлаждении метаболизм микроорганизмов замедляется, большинство бактерий и грибов относятся к классу
			мезофилов, размножающихся при 20-40°C. Например, бактерии сальмонеллы не размножаются ниже +6°C, а
			температура в холодильной камере как раз
			+5°C или ниже.
		</p>
		<p>
			Как правильно замораживать продукты? Специалисты указывают температуру −18°C в морозильной камере в качестве
			оптимальной и рекомендуют обязательно упаковывать продукты перед замораживанием.
		</p>

	</div>

</article>
