<article class="about-brand">
	<div class="container">
		<h2 class="about-brand__title">
			О бренде Smeg
		</h2>
		<img src="images/about-brand.png" class="pic_right loaded lazyloaded" alt="">
		<p>

			В 1956 году выпускается первая газовая плита «Элизабет» — с предохранительным клапаном и автоматическим
			поджиганием.
			Далее последовал выпуск первой стиральной машины дизайнерской линейки «Леда». Усовершенствовав модель, в
			1970 году
			Smeg представляет «Ниагару», ставшую популярным приобретением во всем мире. В том же году начали выпускать
			первые
			встраиваемые духовые шкафы и варочные поверхности. В 90-х годах ассортимент бытовой техники пополнили мойки,
			вытяжки и
			цветные ретро-холодильники в стиле 50-х, которые пользуются популярностью и спросом до сегодняшнего дня.
			Позже
			компания Smeg открыла профессиональные подразделения, производящие технику для сектора общественного питания
			— печи и
			посудомоечные машины, пароконвектоматы и стаканомоечные машины для ресторанов и отелей, а также оборудование
			для
			медицинских учреждений — машины для мытья и стерилизации медицинских инструментов и фармацевтических
			холодильников.
			Большое внимание уделяется и дизайну продукции — уже более 60 лет компания сотрудничает с известными
			мировыми
			архитекторами. Smeg не следует общепринятым тенденциям моды на бытовую технику, создавая свой собственный
			неповторимый
			стиль, который легко узнаваем благодаря четкости линий, элегантности и изысканных форм. Даже головной офис
			компании
			Smeg, который находится в Гуасталле, завоевал «Золотую медаль итальянской архитектуры» в Милане.
			Территория офиса воспроизводит местный ландшафт. Постройка представляет собой длинную галерею, от которой
			расходятся
			шесть отдельных офисных помещений.
		</p>
	</div>
</article>
