<article class="seo-text text-default">
	<div class="container">
		<h2 class="seo-text__title">
		Почему покупают стиарльные машины Jacky’s
		</h2>
		<img src="images/main-seo-text.png" alt="" style="float: left; padding: 0 35px 20px 0;">
		<p>

			Корпус и внутренние стенки выполняются из нержавеющей стали. Ранее такое встречалось только в моделях
			профессиональной техники, а в бытовых приборах внутренняя камера изготавливается из белого пластика.
			Кроме антибактериальных свойств нержавейки производители с успехом использовали светоотражающую
			способность гладкого металла — светодиодные панели находятся по всей боковой поверхности холодильной и
			морозильной камер. Такой размер и положение светильников обеспечивают оптимальное распределение света.
			При этом они экономичны и почти не выделяют тепло по сравнению с лампами накаливания, а значит, не
			влияют на температурный режим внутри рабочей камеры.

		</p>
		<p align="justify">
			Светодиодные панели находятся по всей боковой поверхности холодильной и морозильной камер
		</p>
		<p align="justify">
			Особенность морозильной камеры В отличие от других морозильных отделений в Monolith все пространство
			занято не контейнерами, а похоже на холодильное: полки, ящики и дверные емкости. Это удобнее для
			быстрого доступа к часто используемым продуктам, не нужно перебирать все упаковки, чтобы найти нужную.
		</p>
		<img src="images/main-seo-text-2.png" alt="" style="float: right; padding: 0 0px 20px 35px;">
		<p align="justify">
			Прозрачные передняя стенка позволяет быстро найти нужные продукты. На дверцах можно хранить упаковки
			ягод для коктейлей и смузи, мороженое, замороженные травы и овощи для заправки супов.
		</p>

		<p align="justify">
			Большие контейнеры BioFresh помещены на телескопические направляющие и оснащены отдельной светодиодной
			панелью в верхней части.
		</p>
		<p align="justify">
			В приборах использованы современные технологии охлаждения и хранения. Система NoFrost отводит излишнюю
			влагу из морозильного отделения, поэтому наледь не образуется, а значит, нет необходимости проводить
			разморозку.

		</p>
		<p align="justify">
			Равномерное охлаждение PowerCooling в холодильной камере поддерживает равномерную температуру. Фильтр с
			активированным углем FreshAir убирает неприятные запахи.
		</p>

		<p align="justify">

		</p>

		<div class="official-dealers">

			<h2>Официальные сайты и дилеры Jacky’sr</h2>
			<p>
				Прозрачные передняя стенка позволяет быстро найти нужные продукты. На дверцах можно хранить упаковки ягод для
				коктейлей и смузи, мороженое, замороженные травы и овощи для заправки супов. Большие контейнеры BioFresh помещены на
				телескопические направляющие и оснащены отдельной светодиодной панелью в верхней части.
			</p>
			<p>
				В приборах использованы современные технологии охлаждения и хранения. Система NoFrost отводит излишнюю влагу из
				морозильного отделения, поэтому наледь не образуется, а значит, нет необходимости проводить разморозку.
			</p>

			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="//www.youtube.com/embed/hXlZLJs_pO8" id="bx_3322728009_11700">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="images/official-dealers.png">

					<img data-src="images/official-dealers.png" alt="видео 1 на главной"
						class="official-dealers__pic lazyload" />
				</picture>

			</a>

			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="//www.youtube.com/embed/41QGgxGqjb4" id="bx_3322728009_11701">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="images/official-dealers-2.png">

					<img data-src="images/official-dealers.png" alt="видео 2 на главной"
						class="official-dealers__pic lazyload" />
				</picture>

			</a>

			<p>
				В отличие от других морозильных отделений в Monolith все пространство занято не контейнерами, а похоже на
				холодильное: полки, ящики и дверные емкости. Это удобнее для быстрого доступа к часто используемым продуктам, не
				нужно перебирать все упаковки, чтобы найти нужную. Прозрачные передняя стенка позволяет быстро найти нужные
				продукты. На дверцах можно хранить упаковки ягод для коктейлей и смузи, мороженое, замороженные травы и овощи для
				заправки супов.
			</p>
			<p>
			Большие контейнеры BioFresh помещены на телескопические направляющие и оснащены отдельной светодиодной панелью в
			верхней части.
			</p>
			<p>
				В приборах использованы современные технологии охлаждения и хранения. Система NoFrost отводит излишнюю влагу из
				морозильного отделения, поэтому наледь не образуется, а значит, нет необходимости проводить разморозку.
			</p>
			<p>
			Равномерное охлаждение PowerCooling в холодильной камере поддерживает равномерную температуру. Фильтр с
			активированным углем FreshAir убирает неприятные запахи.</p>
		</div>

		<h2 class="seo-text__title">Сервисные центры Jacky’s в России</h2>
		<img alt="Холодильники Liebherr на официальном сайте"
			src="images/service-centers.png"
			style="float: right; padding: 0 0px 32px 35px;" title="Холодильники Либхер с официальной гарантией">
		<p>
			Почему нужно хранить продукты в холодильнике? В результате биохимических процессов углеводы и белки разрушаются,
			низкая температура приостанавливает этот процесс. Одна из главных причин порчи — размножение микроорганизмов
			(бактерий, дрожжей и грибов), а при охлаждении метаболизм микроорганизмов замедляется, большинство бактерий и грибов
			относятся к классу мезофилов, размножающихся при 20-40°C. Например, бактерии сальмонеллы не размножаются ниже +6°C, а
			температура в холодильной камере как раз +5°C или ниже.
		</p>
		<p>
			Как правильно замораживать продукты? Специалисты указывают температуру −18°C в морозильной камере в качестве
			оптимальной и рекомендуют обязательно упаковывать продукты перед замораживанием.
		</p>

	</div>
	<div class="about-store__button js-about-store__button">Читать подробнее</div>

</article>
