html {
	overflow-y: scroll;

	&.no-overflow {
		overflow: unset;
	}

	&.js-height {
		height: 100%;
	}
}

img {
	max-width: 100%;
	// width: 100%;
	height: auto;
	max-height: 100%;
	object-fit: contain;
}

.fixed {

	// overflow: hidden;
	// width:calc(100% - 17px);
	@media (min-width: 767px) {
		// overflow: hidden;
	}
}

// .swiper-container,
// .swiper-container-three,
// .swiper-container-two {
// 	margin: 0 auto;
// 	position: relative;
// 	overflow: hidden;
// 	list-style: none;
// 	padding: 0 !important;
// 	z-index: 1;
// 	width: 100%;
// }
.popup {
	display: none;

	.response-popup {
		width: 320px;
		padding: 32px;

		&__title {
			margin: 1rem 0;
			font-size: 24px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			text-align: center;
			color: #2e2e2e;
		}

		&__text {
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.57;
			letter-spacing: normal;
			text-align: center;
			color: #262626;
			margin-bottom: 1rem;
		}

		&__inner {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
	}
}

h1.title {
	color: #333333;
	font-family: "Roboto Condensed";
	font-size: 30px;
	font-weight: 400;
	line-height: 44px;
	text-transform: uppercase;
	// width: 75%;
	margin-bottom: 20px;
	margin-top: 10px;
}

.container {
	.col-md-9 {
		position: relative;
		padding: 0;

		@media (min-width: 768px) {
			flex: 0 0 calc(75% - 7px);
			max-width: calc(75% - 7px);
			margin-left: 7px;
		}
	}

	&.new-catalog {
		position: relative;
		// width: calc(100% - 32px);
	}
}

.col-md-3 {
	padding-left: 0;
}

.fancybox-container {
	transition: all 0.3s ease-in-out !important;
}

.fancybox-image-wrap {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;
	top: 50% !important;
	left: 50% !important;
	max-width: 100% !important;
	height: 98% !important;
	transform: translateX(-50%) translateY(-50%) scale(1) !important;
	transition: all 0.3s ease-in-out;

	@media screen and (min-width: 768px) {
		width: auto !important;
	}

	img {
		position: unset !important;
		width: auto !important;
		max-width: 100%;
		height: auto !important;
		max-height: 100%;
		cursor: pointer !important;
	}
}

.fancybox-container {
	transition-duration: 500ms !important;
}

.compensate-for-scrollbar {
	margin-right: 0 !important;
}

body {
	&.fancybox-active {
		overflow: unset !important;
	}

	&.loading-ajax {
		&:before {
			content: "";
			position: fixed;
			z-index: 9999;
			top: 50%;
			left: 50%;
			width: 100vw;
			width: 100vw;
			height: 100vh;
			height: 100vh;
			transform: translateX(-50%) translateY(-50%);
			background: url("../images/red-loader.svg") rgba(255, 255, 255, .8) no-repeat center 40%;

			@media screen and (max-width: 767px) {
				background: url("../images/red-loader.svg") rgba(255, 255, 255, .8) no-repeat center;
			}
		}
	}
}

.docs-frame {
	display: flex !important;
	flex-direction: column;
	align-items: center;
	// flex-shrink: 0;
	max-width: 100%;
	min-height: 400px;
	// overflow-y: auto;
	margin-bottom: 40px;

	iframe {
		// height: auto !important;
		height: 100% !important;
		height: 90vh !important;
		// height: -moz-available !important;
		// /* WebKit-based browsers will ignore this. */
		// height: -webkit-fill-available !important;
		// /* Mozilla-based browsers will ignore this. */
		// height: fill-available !important;
		// width: 100%;
		// // overflow: hidden;
		// margin: 0px;
		// // max-height: 1176px !important;
		// overflow-y: scroll !important;
		// height: 1176px !important;
		// padding-bottom: 24px;
	}
}

.BadPols {
	border-color: #e03127 !important;
}

.button-close {
	position: absolute;
	z-index: 10;
	top: 6px;
	right: 7px;
	width: 12px;
	height: 12px;
	background: url("../images/close.svg");
	background-size: 100%;
	cursor: pointer;
}

.hide {
	display: none;
}

picture {
	// justify-content: center;
	display: block;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
	// display: flex;
	// align-items: stretch;
	text-align: center;
}

input:required {
	box-shadow: none;
}

.go_to_top {
	display: flex;
	position: fixed;
	z-index: 1000;
	right: 45px;
	bottom: 150px;
	-webkit-transform: translate(0, 300px);
	transform: translate(0, 300px);
	color: #474646 !important;
	text-align: center;
	text-decoration: none;
	transition: .3s;
	&:after {
		content: url("../images/go-up-button-normal-smeg-kup.svg");
		transition: .3s;
	}
	&:hover {
		&:after {
			content: url("../images/go-up-button-hover-smeg-kup.svg");
		}
	}
}


.go_to_top.visible_goto {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.to-top {
	font-size: 20px;
}

.to-top span {
	color: #01426a;
}


@media screen and (max-width: 767px) {
	h1.title {
		font-size: 30px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 42px;
		letter-spacing: normal;
		text-align: left;
		color: #262626;
		width: 100%;
		background: none;

		&.shipping-payment__title {
			padding: 15px 0;
		}
	}

	.col-md-3 {
		padding-right: 0;
		padding-left: 0;
		padding-top: 14px;

		&.order {
			order: 1;
		}
	}

	.fixed {
		width: 100%;
		overflow: hidden;

		.header {
			+.section {
				opacity: 0;
			}
		}
	}

	.docs-frame iframe {
		height: 60vh !important;
	}

	.go_to_top {
		right: 25px;
		bottom: 100px;
	}

}
