<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		<div class="sidebar">
			<ul class="work-link">
				<li class="work-link__item">
					<a class="work-link__a" href="/service/">Сервисные центры
					</a>
				</li>
				<li class="work-link__item">
					<a class="work-link__a" href="/documentation/">Техническая документация
					</a>
				</li>
				<li class="work-link__item">
					<a class="work-link__a" href="/warranty/">Официальная гарантия
					</a>
				</li>
			</ul>
			<div class="yandex">
				<div class="yandex__inner">
					<div class="yandex__logo">
						<img src="images/ylogo.png" alt="" srcset="" class="yandex__img">
					</div>
					<div class="yandex__ratings">
						<img src="images/5-stars.png" alt="" srcset="">
					</div>
					<a href="#" target="_blank" class="yandex__button">Оставить отзыв</a>
					<a href="#" target="_blank" class="yandex__button">Читать все отзывы</a>
				</div>
			</div>
			<div class="quality">
				<span class="quality__title">Контроль качества</span>
				<span class="quality__text">Номер для претензий и предложений:</span>
				<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
				<span class="quality__worktime">с 9:00 до 18:00</span>
				<a href="#" class="quality__button" id="js-quality-opener">Написать</a>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Liebherr</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">Правила возврата и обмена</span>
		</div>
		<h1 class="title">
			Правила возврата и обмена
		</h1>
		<div class="text-default">
			<h5>
				Если у вас гарантийный случай
			</h5>
			<blockquote >
				<p>На всю продукцию Smeg, которая приобретена в нашем интернет-магазине, действует гарантия производителя.</p>
				<b><b</b></b>
				<ul>
					>Крупная бытовая техника
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</blockquote>
			<blockquote >
				<ol>
					Для того чтобы претензия была рассмотрена как можно быстрее, необходимо указать следующие
					данные:
					<li>
						Номер заказа
					</li>
					<li>
						Причину обращения (техника не работает, внешний вид, размер и т.п.)
					</li>
					<li>
						Требование (возврат денежных средств, обмен — с указанием модели и стоимости )
					</li>
					<li>
						Контактные данные
					</li>
				</ol>
				<ol>
					В приложении необходим следующий пакет документов:
					<li>
						Подписанное заявление с данными о номере заказа, причине обращения, требованиями и
						контактными данными.
					</li>
					<li>
						Скан заключения авторизованного сервисного центра (в случае технической неисправности).
					</li>
					<li>
						Фотографии повреждений (при наличии).
					</li>
					<li>
						Фотографии упаковки и товара (в случае если товар не подошел по внешнему виду, размеру,
						цвету и т.п.).
					</li>
					<li>
						Кассовый и товарный чек или товарная накладная.
					</li>
					<li>
						Гарантийный талон.
					</li>
				</ol>
				<a href="#">Скачать бланк заявления</a>
			</blockquote>

			<div class="return-exchange__item">
				<h3>
					Форма для рекламационных обращений
				</h3>
				<form name="" action="" method="post" enctype="" class="return-exchange__form">
					<input type="hidden" name="" value="">
					<input type="hidden" name="" value="">
					<div class="return-exchange__field">
						<span class="return-exchange__name">ФИО <span class="return-exchange__required">*</span></span>
						<input type="text" name="" value="" class="return-exchange__input" title="ФИО">
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="return-exchange__field">
						<span class="return-exchange__name">E-mail <span
								class="return-exchange__required">*</span></span>
						<input type="text" name="" value="" class="return-exchange__input" title="E-mail">
						<span class="return-exchange__error-text"></span>
					</div>

					<div class="return-exchange__field">
						<span class="return-exchange__name">Телефон <span
								class="return-exchange__required">*</span></span>
						<input type="text" name="F[PHONE]" value="" class="return-exchange__input" title="Телефон">
						<span class="return-exchange__error-text"></span>
					</div>

					<div class="return-exchange__field">
						<span class="return-exchange__name">Номер заказа <span
								class="return-exchange__required">*</span></span>
						<input type="text" name="" value="" class="return-exchange__input" title="Номер заказа">
						<span class="return-exchange__error-text"></span>
					</div>

					<div class="return-exchange__field">
						<span class="return-exchange__name">Причина обращения <span
								class="return-exchange__required">*</span></span>
						<textarea name="" rows="" cols="" class="return-exchange__textarea"
							title="Причина обращения"></textarea>
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="return-exchange__field return-exchange__attachment">
						<span class="return-exchange__copyright">Приложения<i> (Внимание!</i> Рекламация будет
							рассмотрена после получения<a href="#claim-docs"> полного пакета документов</a>)
						</span>
						<div class="return-exchange__file">
							<div class="button">ВЫБЕРИТЕ ФАЙЛ</div>
							<input name="files[]" type="file" multiple="multiple" class="multi" />
						</div>
					</div>
					<div class="return-exchange__field return-exchange__attachment">
						<label class="checkbox checkbox_oferta ">
							<input type="checkbox" name="" class="checkbox__input" checked="">
							<span class="checkbox__icon"></span>
							<span class="checkbox__text">Согласен с
								<a href="#">использованием персональных данных</a>для обработки обращения</span>
						</label>
						<div class="return-exchange__error-text js-field-error-text"></div>
					</div>
					<div class="return-exchange__submit return-exchange__attachment">
						<input type="submit" value="Отправить" class="btn-sub3 abuse-popup__submit" name="">
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
