<div class="gallery">
	<!-- Slider main container -->
	<div class="swiper-container-main js-swiper-main">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<picture><img src='{{src}}main-1.png' alt=""></picture>
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Сенсорное управление дарит новое ощущение свободы.
						</span>
						<span class="span span__big">
							Smeg представляет Connect. Полная автоматизация и впечатляющие результаты достигаются всего
							лишь нажатием кнопки. Для жизни, в которой нет места рутине.
						</span>
						<a href="#" title="ECBN 6156" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<picture><img src='{{src}}main-1.png' alt=""></picture>
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Сенсорное управление дарит новое ощущение свободы.
						</span>
						<span class="span span__big">
							Smeg представляет Connect. Полная автоматизация и впечатляющие результаты достигаются всего
							лишь нажатием кнопки. Для жизни, в которой нет места рутине.
						</span>
						<a href="#" title="ECBN 6156" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<picture><img src='{{src}}main-1.png' alt=""></picture>
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Сенсорное управление дарит новое ощущение свободы.
						</span>
						<span class="span span__big">
							Smeg представляет Connect. Полная автоматизация и впечатляющие результаты достигаются всего
							лишь нажатием кнопки. Для жизни, в которой нет места рутине.
						</span>
						<a href="#" title="ECBN 6156" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev swiper-button-main main_prev"></div>
		<div class="swiper-button-next swiper-button-main main_next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>

	<div class="gallery__items swiper-container">
		<div class="swiper-wrapper">
			<div class="gallery__el swiper-slide">
				<a href="#" class="gallery__link">
					<picture>
						<img src="images/gallery-link_1.png" alt="">
					</picture>
					<div class="gallery__parent">
						<span class="gallery__article">
							Скидка 25%
						</span>
						<!-- /.gallery__article -->
						<span class="gallery__text">
							при приобретении комплекта
						</span>
						<!-- /.gallery__text -->
					</div>
					<!-- /.gallery__parent -->
				</a>
				<!-- /.gallery__link -->
			</div>
			<!-- /.gallery__el -->
			<div class="gallery__el swiper-slide">
				<a href="#" class="gallery__link">
					<picture>
						<img src="images/gallery-link_2.png" alt="">
					</picture>
					<div class="gallery__parent">
						<span class="gallery__article">
							Экономия 15 000 рублей
						</span>
						<!-- /.gallery__article -->
						<span class="gallery__text">
							при покупке комплекта
						</span>
						<!-- /.gallery__text -->
					</div>
					<!-- /.gallery__parent -->
				</a>
				<!-- /.gallery__link -->
			</div>
			<!-- /.gallery__el -->
			<div class="gallery__el swiper-slide">
				<a href="#" class="gallery__link">
					<picture>
						<img src="images/gallery-link_3.png" alt="">
					</picture>
					<div class="gallery__parent">
						<span class="gallery__article">
							- 20% на второй прибор
						</span>
						<!-- /.gallery__article -->
						<span class="gallery__text">
							при покупке малой бытовой техники
						</span>
						<!-- /.gallery__text -->
					</div>
					<!-- /.gallery__parent -->
				</a>
				<!-- /.gallery__link -->
			</div>
			<!-- /.gallery__el -->
			<div class="gallery__el swiper-slide">
				<a href="#" class="gallery__link">
					<picture>
						<img src="images/gallery-link_4.png" alt="">
					</picture>
					<div class="gallery__parent">
						<span class="gallery__article">
							- 25% на чайник
						</span>
						<!-- /.gallery__article -->
						<span class="gallery__text">
							при покупке комплекта
						</span>
						<!-- /.gallery__text -->
					</div>
					<!-- /.gallery__parent -->
				</a>
				<!-- /.gallery__link -->
			</div>
			<!-- /.gallery__el -->
		</div>
		<!-- /.container -->
		<!-- If we need pagination -->
		<div class="gallery__items-pagination"></div>
	</div>
</div>
