<div class="gallery">
	<!-- Slider main container -->
	<div class="swiper-container-main js-swiper-main">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<img src='{{src}}main-1.png' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Стиральная машина <br>
							Jacky's JW 6W10I0
						</span>
						<span class="span span__big">
							Модель нового поколения BluPerformance с зоной свежести BioFresh, системой охлаждения
							NoFrost и возможностью управления через смартфон SmartDevice
						</span>
						<a href="#" title="ECBN 6156" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}main-1.png' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Стиральная машина <br>
							Jacky's JW 6W10I0
						</span>
						<span class="span span__big">
							Модель нового поколения BluPerformance с зоной свежести BioFresh, системой охлаждения
							NoFrost и возможностью управления через смартфон SmartDevice
						</span>
						<a href="#" title="ECBN 6156" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}main-1.png' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Стиральная машина <br>
							Jacky's JW 6W10I0
						</span>
						<span class="span span__big">
							Модель нового поколения BluPerformance с зоной свежести BioFresh, системой охлаждения
							NoFrost и возможностью управления через смартфон SmartDevice
						</span>
						<a href="#" title="ECBN 6156" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev swiper-button-main main_prev"></div>
		<div class="swiper-button-next swiper-button-main main_next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>

	<div class="gallery__items js-gallery__items">
		<div class="gallery__tablet">
			<div class="gallery__el" id="bx_651765591_14492">
				<a class="gallery__link" data-fancybox="certificat" href="images/certificat.jpg" title="Официальный дилер">

					<picture>

						<source type="image/webp"
							data-srcset="images/certificat-jackys.jpg"
							srcset="images/certificat-jackys.jpg">

						<img data-src="images/certificat-jackys.jpg"
							alt="Официальный дилер" class=" lazyloaded"
							src="images/certificat-jackys.jpg">
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Официальный дилер</span>
						<span class="gallery__text">Сертифицированное качество</span>
					</div>
				</a>
			</div>

			<div class="gallery__el" id="bx_651765591_14490">
				<a class="gallery__link" href="/guarantee/" title="Официальная гарантия">

					<picture>

						<source type="image/webp"
							data-srcset="https://jackys-store.ru/upload/iblock/155/155a38bc690b042e62b770c071d63eb6.webp"
							srcset="https://jackys-store.ru/upload/iblock/155/155a38bc690b042e62b770c071d63eb6.webp">

						<img data-src="https://jackys-store.ru/upload/iblock/155/155a38bc690b042e62b770c071d63eb6.jpg"
							alt="Официальная гарантия" class=" lazyloaded"
							src="https://jackys-store.ru/upload/iblock/155/155a38bc690b042e62b770c071d63eb6.jpg">
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Официальная гарантия</span>
						<span class="gallery__text">Гарантийный сервис Jacky's</span>
					</div>
				</a>
			</div>

			<div class="gallery__el" id="bx_651765591_14491">
				<a class="gallery__link" href="/services/" title="Сервис и обслуживание">

					<picture>

						<source type="image/webp"
							data-srcset="https://jackys-store.ru/upload/iblock/2c7/2c7e7c11d9f6b557f29c5242dfb70b3f.webp"
							srcset="https://jackys-store.ru/upload/iblock/2c7/2c7e7c11d9f6b557f29c5242dfb70b3f.webp">

						<img data-src="https://jackys-store.ru/upload/iblock/2c7/2c7e7c11d9f6b557f29c5242dfb70b3f.jpg"
							alt="Сервис и обслуживание" class=" lazyloaded"
							src="https://jackys-store.ru/upload/iblock/2c7/2c7e7c11d9f6b557f29c5242dfb70b3f.jpg">
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Сервис и обслуживание</span>
						<span class="gallery__text">Об установке и подключении</span>
					</div>
				</a>
			</div>

			<div class="gallery__el" id="bx_651765591_19609">
				<a class="gallery__link" href="/reviews/" title="Отзывы">

					<picture>

						<source type="image/webp"
							data-srcset="https://jackys-store.ru/upload/iblock/7b8/7b876777132cb1c0b20ff1b18ad018ac.webp"
							srcset="https://jackys-store.ru/upload/iblock/7b8/7b876777132cb1c0b20ff1b18ad018ac.webp">

						<img data-src="https://jackys-store.ru/upload/iblock/7b8/7b876777132cb1c0b20ff1b18ad018ac.jpg"
							alt="Отзывы" class=" lazyloaded"
							src="https://jackys-store.ru/upload/iblock/7b8/7b876777132cb1c0b20ff1b18ad018ac.jpg">
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Отзывы</span>
						<span class="gallery__text">Отзывы о технике Jacky"s</span>
					</div>
				</a>
			</div>
		</div>

	</div>

</div>
