.pagination {
	display: flex;
	align-items: center;
	margin: 0 auto 40px auto;
	justify-content: center;

	&__prev {
		margin-right: 8px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;


		&:after {
			content: '';
			border-left: 2px solid #eeeeee;
			border-bottom: 2px solid #eeeeee;
			display: block;
			width: 10px;
			height: 10px;
			margin: 0 -3px 0 0;
			transform: rotate(45deg)
		}

		&.active {
			&:after {
				content: '';
				border-left: 2px solid #2e2e2e;
				border-bottom: 2px solid #2e2e2e;

			}
		}

	}

	&__item {
		margin-right: 8px;
		font-size: 16px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #333333;

		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: #333333;
		width: 32px;
		height: 32px;

		&:hover {
			color: $base;
		}

		&.pagination__item_state_current {
			width: 32px;
			height: 32px;
			border-radius: 2px;
			// border: 1px solid #394791;
			background-color: #ffe3e3;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $base;
		}
	}

	&__more {
		margin-right: 8px;
		font-size: 16px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #333333;

	}

	&__next {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;

		&:after {
			content: '';
			border-top: 2px solid #eeeeee;
			border-right: 2px solid #eeeeee;
			display: block;
			width: 10px;
			height: 10px;
			margin: 0 0 0 -3px;
			transform: rotate(45deg)
		}

		&.active {
			&:after {
				border-top: 2px solid #2e2e2e;
				border-right: 2px solid #2e2e2e;
			}
		}

	}


	@media screen and (max-width: 480px) {
		margin: 15px auto !important;
	}
}
