<!-- <div class="articles">
	<div class="container">
		<span class="articles__title">Статьи о холодильниках Liebherr</span>
		<a href="#" class="articles__link">Все акции</a>
		<div class="articles__items">
			<div class="articles__item">
				<a class="articles__pic" href="#"><img src="images/articles_1.jpg"
						srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x" class="articles__img"></a>
				<a href="#" class="articles__text">Как правильно разморозить холодильник Либхер</a>
				<span class="articles__date">25 марта 2018</span>
				<span class="articles__info">9 причин вызвать мастера из сервисного центра и не пытаться устранить
					поломку
					самостоятельно</span>
			</div>
			<div class="articles__item">

				<a class="articles__pic" href="#"><img src="images/articles_2.jpg"
						srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x" class="articles__img"></a>
				<a href="#" class="articles__text">Преимущества встраиваемых микроволновых печей Liebherr </a>
				<span class="articles__date">25 марта 2018</span>
				<span class="articles__info">В коллекции Liebherr представлены надежные и технологичные модели с
					высоким</span>
			</div>
			<div class="articles__item">
				<a class="articles__pic" href="#"><img src="images/articles_3.jpg"
						srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x" class="articles__img"></a>
				<a href="#" class="articles__text">Сравнение холодильника Liebherr CNbs 4015 Comfort NoFrost и Liebherr
					CN 4813</a>
				<span class="articles__date">25 марта 2018</span>
				<span class="articles__info">Модель сочетает удобство традиционного газового нагрева и широкие
					функциональные</span>
			</div>
			<div class="articles__item">
				<a class="articles__pic" href="#"><img src="images/articles_4.jpg"
						srcset="images/articles_4@2x.jpg 2x,images/articles_4@3x.jpg 3x" class="articles__img"></a>
				<a href="#" class="articles__text">ICS Система интеллектуального контроля у стиральных машин</a>
				<span class="articles__date">25 марта 2018</span>
				<span class="articles__info">Технический прогресс не стоит на месте, и сегодня компания Liebherr
					предлагает
					«умные/</span>
			</div>
		</div>
	</div>
</div> -->
<div class="articles">
	<div class="container">
		<h2 class="articles__title">Статьи о технике Jacky’s</h2>
		<a href="/news/" title="Все cтатьи" class="articles__link">Все cтатьи</a>

		<div class="articles__items">

			<div class="articles__item" id="bx_565502798_2679">
				<a href="/news/novaya-seriya-vstraivaemykh-kholodilnikov-monolith.html" title="Скидка на комплект Smeg!"
					class="articles__pic">

					<picture>

						<source type="image/webp" class=" lazyloading"
							data-srcset="images/articles_1.jpg, images/articles_1.jpg 2x, images/articles_1.jpg 3x"
							srcset="images/articles_1.jpg, images/articles_1.jpg 2x, images/articles_1.jpg 3x">

						<source type="image/png" class=" lazyloading"
							data-srcset="images/articles_1.jpg, images/articles_1.jpg 2x,images/articles_1.jpg 3x"
							srcset="images/articles_1.jpg, images/articles_1.jpg 2x,images/articles_1.jpg 3x">

						<img class="articles__img lazyloaded" data-src="images/articles_1.jpg"
							alt="Скидка на комплект Smeg!" src="images/articles_1.jpg">
					</picture>

				</a>
				<a href="/news/novaya-seriya-vstraivaemykh-kholodilnikov-monolith.html" title="Скидка на комплект Smeg!"
					class="articles__text">Скидка на комплект Smeg!</a>
				<span class="articles__date">13 Марта 2019</span>
				<span class="articles__info">С 30 декабря 2019 года — комплекты бытовой техники SMEG по специальным
					ценам! Успейте
					совершить покупку.</span>
			</div>

			<div class="articles__item" id="bx_565502798_2585">
				<a href="/news/chto-oznachayut-bukvy-v-markirovke-kholodilnika-liebherr.html"
					title="Скидка на стиральную и сушильную машину Smeg" class="articles__pic">

					<picture>

						<source type="image/webp" class=" lazyloading"
							data-srcset="images/articles_2.jpg, images/articles_2.jpg 2x, images/articles_2.jpg 3x"
							srcset="images/articles_2.jpg, images/articles_2.jpg 2x, images/articles_2.jpg 3x">

						<source type="image/png" class=" lazyloading"
							data-srcset="images/articles_2.jpg, images/articles_2.jpg 2x,images/articles_2.jpg 3x"
							srcset="images/articles_2.jpg, images/articles_2.jpg 2x,images/articles_2.jpg 3x">

						<img class="articles__img lazyloaded" data-src="images/articles_2.jpg"
							alt="Скидка на комплект Smeg!" src="images/articles_2.jpg">
					</picture>

				</a>
				<a href="/news/chto-oznachayut-bukvy-v-markirovke-kholodilnika-liebherr.html"
					title="Скидка на стиральную и сушильную машину Smeg" class="articles__text">Скидка на стиральную и
					сушильную машину Smeg</a>
				<span class="articles__date">25 Марта 2019</span>
				<span class="articles__info">
					<p>Купите комплект стиральной и сушильной машины Smeg со скидкой 15 000 рублей. Обустройте ванную
						комнату!
					</p>
				</span>
			</div>

			<div class="articles__item" id="bx_565502798_2272">
				<a href="/news/kak-sokhranit-produkty-svezhimi-sovety-ot-liebherr.html"
					title="Скидка 20% на кофемолки Smeg" class="articles__pic">

					<picture>

						<source type="image/webp" class=" lazyloading"
							data-srcset="images/articles_3.jpg, images/articles_3.jpg 2x, images/articles_3.jpg 3x"
							srcset="images/articles_3.jpg, images/articles_3.jpg 2x, images/articles_3.jpg 3x">

						<source type="image/png" class=" lazyloading"
							data-srcset="images/articles_3.jpg, images/articles_3.jpg 2x,images/articles_3.jpg 3x"
							srcset="images/articles_3.jpg, images/articles_3.jpg 2x,images/articles_3.jpg 3x">

						<img class="articles__img lazyloaded" data-src="images/articles_3.jpg"
							alt="Скидка 20% на кофемолки Smeg" src="images/articles_3.jpg">
					</picture>

				</a>
				<a href="/news/kak-sokhranit-produkty-svezhimi-sovety-ot-liebherr.html"
					title="Как сохранить продукты свежими: советы от Liebherr" class="articles__text">Скидка 20% на
					кофемолки Smeg</a>
				<span class="articles__date">25 Марта 2019</span>
				<span class="articles__info">Приобретите комплект — кофемашину и кофемолку Smeg — и получите скидку 20%
					на
					кофемолку.</span>
			</div>

			<div class="articles__item" id="bx_565502798_1966">
				<a href="/news/liebherr-icbn-3324-comfort-white-instruktsiya-po-ekspluatatsii.html"
					title="Скидка 25% на чайники Smeg" class="articles__pic">

					<picture>

						<source type="image/webp" class=" lazyloading"
							data-srcset="images/articles_4.jpg, images/articles_4.jpg 2x, images/articles_4.jpg 3x"
							srcset="images/articles_4.jpg, images/articles_4.jpg 2x, images/articles_4.jpg 3x">

						<source type="image/png" class=" lazyloading"
							data-srcset="images/articles_4.jpg, images/articles_4.jpg 2x,images/articles_4.jpg 3x"
							srcset="images/articles_4.jpg, images/articles_4.jpg 2x,images/articles_4.jpg 3x">

						<img class="articles__img lazyloaded" data-src="images/articles_4.jpg"
							alt="Скидка 25% на чайники Smeg" src="images/articles_4.jpg">
					</picture>

				</a>
				<a href="/news/liebherr-icbn-3324-comfort-white-instruktsiya-po-ekspluatatsii.html"
					title="Скидка 25% на чайники Smeg" class="articles__text">Скидка 25% на чайники Smeg</a>
				<span class="articles__date">25 Марта 2019</span>
				<span class="articles__info">
					<p> Приобретите комплект из чайника и тостера Smeg — и получите скидку 25% на чайник.</p>
				</span>
			</div>

		</div>

	</div>
</div>
