<div class="special-offers catalog">
	<div class="catalog__sorting">
		<ul class="catalog__ul">
			Сортировать по:
			<li class="catalog__li"><a href="#" sort="popular" order="ASC"
					class="catalog__sort"><span>популярности</span><i></i></a></li>
			<li class="catalog__li"><a href="#" sort="new" order="ASC"
					class="catalog__sort"><span>новизне</span><i></i></a></li>
			<li class="catalog__li"><a href="#" sort="price" order="DESC"
					class="catalog__sort"><span>цене</span><i></i></a></li>
		</ul>
		<div class="sorting__info">
			<span class="sorting__number">294</span><span class="sorting__number">позиции</span>
		</div>
	</div>
	<div class="tags">
		<ul class="tags__list js-tags_block">
			<li class="tags__item active">
				<a href="#" class="tags__link">
					Все
				</a>
			</li>
			<li class="tags__item " id="bx_3485106786_2497">
				<a href="/Smeg/holodilniki/recommend/no-frost/" title="С системой No frost" class="tags__link">С
					системой No frost</a>
			</li>

			<li class="tags__item " id="bx_3485106786_6372">
				<a href="/Smeg/holodilniki/recommend/luchshie/" title="холодильники Smeg"
					class="tags__link">холодильники
					Smeg</a>
			</li>

			<li class="tags__item " id="bx_3485106786_2808">
				<a href="/Smeg/holodilniki/recommend/nemeckie/" title="Немецкие холодильники Smeg"
					class="tags__link">Немецкие холодильники Smeg</a>
			</li>

			<li class="tags__item " id="bx_3485106786_2505">
				<a href="/Smeg/holodilniki/recommend/bolshie-dvuhdvernye-holodilniki/" title="двухдверные холодильники"
					class="tags__link">двухдверные холодильники</a>
			</li>

			<li class="tags__item " id="bx_3485106786_2501">
				<a href="/Smeg/holodilniki/recommend/bolshie-holodilniki/" title="Большие холодильники"
					class="tags__link">Большие холодильники</a>
			</li>

			<li class="tags__item " id="bx_3485106786_2821">
				<a href="/Smeg/holodilniki/recommend/cbn/" title="Холодильники CBN" class="tags__link">Холодильники
					CBN</a>
			</li>

			<li class="tags__item " id="bx_3485106786_2825">
				<a href="/Smeg/holodilniki/recommend/cnes/" title="Холодильники CNES" class="tags__link">Холодильники
					CNES</a>
			</li>

			<li class="tags__item last js-tags_data">
				<input type="hidden" name="BLOCK_URL" value="/Smeg/holodilniki/">
				<input type="hidden" name="BLOCK_ID" value="36">
				<input type="hidden" name="PAGEN" value="1">
				<input type="hidden" name="COUNT_ALL" value="79">
				<a class="tags__link js-tags_add">Показать еще</a>
			</li>

			<!-- <li class="tags__item last">
				<a href="/tags/holodilniki/" title="Другие подборки" class="tags__link">Другие подборки</a>
			</li> -->

		</ul>
	</div>
	<div class="catalog__items">
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_3.jpg" srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>
			<a href="product-card.html" class="special-offers__text  catalog__text">Винный шкаф Liebherr EWTgw 3583
				Vinidor</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/A+.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/A++.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/A+++.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Bio Cool.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Bio Fresh- Plus.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Bio Fresh.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale">
				<span class="special-offers__price catalog__price">134 200<i
						class="special-offers__rub catalog__rub">руб.</i></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">

				<a href="#" class="catalog__simile active"></a>
				<a href="#" class="catalog__favorite active"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag_ger.svg" alt="сделано в Германии" title="сделано в Германии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="Бесплатная доставка">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_1.jpg" srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>
			<a href="product-card.html" class="special-offers__text catalog__text">Холодильник Liebherr SBS 66I2
				Premium NoFrost (SICN 3386 + ICN 3386)</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Black Steel.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/BLU Performance.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Central-Power Coolin.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Colour Line.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Comfort Glass Line.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Duo Cooling.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale price__dashed">
				<span class="special-offers__price catalog__price">
					199 000
					<i class="special-offers__rub catalog__rub">руб.</i>
					<span class="price__absolute">
						250 000 руб.
					</span>
				</span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">
				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_2.jpg" srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>

			<a href="#" class="special-offers__text catalog__text">Морозильник Liebherr GN 2723 Comfort NoFrost</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Flex System.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Fresh Air.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Frost Control.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Frost Protect.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Frost Safe.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Glass Edition.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale">
				<span class="special-offers__price catalog__price price__dashed">

					82 500 <i class="special-offers__rub catalog__rub">руб.</i>
					<span class="price__absolute">83 500 руб.</span>
				</span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">

				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag_austria_small.svg" alt="сделано в Австрии" title="сделано в Австрии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_4.jpg" srcset="images/new-items_4@2x.jpg 2x,images/new-items_4@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>

			<a href="#" class="special-offers__text catalog__text">Холодильник Liebherr SBS 66I2 Premium NoFrost (SICN
				3386 + ICN 3386)</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Grand Cru.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Hard Line.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Ice Maker.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/LED.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Magic Eye.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/No Frost.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale">
				<span class="special-offers__price catalog__price">134 200<i
						class="special-offers__rub catalog__rub">руб.</i></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">

				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить в 1 клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item stock">
			<a class=upsale__parent href="#">
				<img class="stock_img" src="images/Catalog_stock.jpg"
					srcset="images/Catalog_stock@2x.jpg 2x,images/Catalog_stock@3x.jpg 3x" alt="">
			</a>
			<div class="stock__info">
				<span class="stock__title">30%</span>
				<span class="stock__text">Морозильник <br> Liebherr GN 2723 Comfort NoFrost
					<span>скидка до 30%</span>
				</span>
				<a class="stock__link" href="#"><span class="stock__arrow">Узнать больше</span></a>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_3.jpg" srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>
			<a href="#" class="special-offers__text  catalog__text">Винный шкаф Liebherr EWTgw 3583 Vinidor</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Power Cooling.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Premium Glass Line.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Side by Side.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Silver.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Smart Device.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Smart Frost.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale">
				<span class="special-offers__price catalog__price">134 200<i
						class="special-offers__rub catalog__rub">руб.</i></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">
				<!-- <span class="catalog__presence grey">под заказ</span> -->
				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_3.jpg" srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>
			<a href="product-card.html" class="special-offers__text  catalog__text">Винный шкаф Liebherr EWTgw 3583
				Vinidor</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Smart Steel.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Soft System.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Soft Telescopic.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Stainless Steel Look.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Stop Frost.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Super Cool.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale">
				<span class="special-offers__price catalog__price">134 200<i
						class="special-offers__rub catalog__rub">руб.</i></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">

				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag_ger.svg" alt="сделано в Германии" title="сделано в Германии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_1.jpg" srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>
			<a href="product-card.html" class="special-offers__text catalog__text">Холодильник Liebherr SBS 66I2
				Premium NoFrost (SICN 3386 + ICN 3386)</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Super Frost.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Swing Desing.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Swing Line.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Telescopic Rails.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Tip Open.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Vario Box.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale">
				<span class="special-offers__price catalog__price">98 400<i
						class="special-offers__rub catalog__rub">руб.</i></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">
				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_2.jpg" srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>

			<a href="#" class="special-offers__text catalog__text">Морозильник Liebherr GN 2723 Comfort NoFrost</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Vario Safe.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Vario Space.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Vinidor.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Vinothek.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Аккумулятор холода.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Класс Comfort.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale price__dashed">
				<span class="special-offers__price catalog__price">115 000<i
						class="special-offers__rub catalog__rub">руб.</i><span class="price__absolute">122 750
						руб.</span></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">

				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag_austria_small.svg" alt="сделано в Австрии" title="сделано в Австрии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_2.jpg" srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>

			<a href="#" class="special-offers__text catalog__text">Морозильник Liebherr GN 2723 Comfort NoFrost</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Класс Premium Plus.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Класс Premium.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Режим «Отпуск».svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Функция защиты от де.svg" class="icons-prop-item">
				</a>

			</div>
			<div class="special-offers__sale catalog__sale price__dashed">
				<span class="special-offers__price catalog__price">115 000<i
						class="special-offers__rub catalog__rub">руб.</i><span class="price__absolute">122 750
						руб.</span></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">

				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag_austria_small.svg" alt="сделано в Австрии" title="сделано в Австрии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
	</div>
	<a class="load-more" href="#">Загрузить еще</a>
	{% include 'pagination/pagination.html' %}
	<div class="recently-watched js-recently-watched">
		<div class="recently-watched__title">
			Вы недавно смотрели
		</div>
		<div class="swiper-pagination-recently-watched swiper-pagination"></div>
		<div class="swiper-button-prev recently-watched__prev"></div>
		<div class="swiper-button-next recently-watched__next"></div>
		<a href="#" class="recently-watched__reset">Сбросить просмотренное</a>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_3.jpg" alt="">
					</a>
					<a href='#' class="recently-watched__text">
						Винный шкаф Liebherr EWTgw
						3583 Vinidor
						<span class="recently-watched__price">134 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>

					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_1.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
						<span class="recently-watched__price">
							34 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_2.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Морозильник Liebherr GN 2723
						Comfort NoFrost
						<span class="recently-watched__price">
							14 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_1.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
						<span class="recently-watched__price">
							13 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_3.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Винный шкаф Liebherr EWTgw
						3583 Vinidor
						<span class="recently-watched__price">
							1 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_1.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_2.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Морозильник Liebherr GN 2723
						Comfort NoFrost
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_1.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
					</a>
					<div class="recently-watched__close"></div>
				</div>
			</div>
		</div>
	</div>
</div>
